.activity-tag:active, .activity-tag.selected {
  box-shadow: 1px 1px var(--fg) inset, var(--shadowBase) !important;
}

.activity-tag, .activity-tag:visited {
  color: var(--fg);
  font-size: 0.8em;
  border-radius: 4px;
  border: 1px solid;
  box-shadow: 1px 1px var(--fg), var(--shadowBase) !important;
  padding: 1px 5px 1px 2px;
  margin-right: 6px;
  text-decoration: none;
  vertical-align: 0.1em; /* ideographic baseline */
}
