.centered-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.centered-spacer {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.centered-image {
  display:inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  filter: drop-shadow(10px 10px 10px var(--shadow));
}
