.code39-scroll-container {
  backdrop-filter: grayscale(1);
  -webkit-backdrop-filter: grayscale(1);
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.1) inset;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  cursor: not-allowed;
  z-index: 2;
}

.code39-gradient {
  position: relative;
  width: 100%;
  min-height: 5000vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.code39-gradient-end {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 32px;
  line-height: 1;
  width: 100%;
  text-align: left;
  background-color: #000;
  filter: drop-shadow(0 10px 10px #000);
}

.code39-image {
  display: block;
  width: 100%;
  height: 192px;
  filter: drop-shadow(0 0 10px #000);
}

.code39-foot {
  width: 100%;
  height: 90vh;
  background-color: #000;
  filter: drop-shadow(0 -10px 10px #000);
}
