/* ---- yumekawa links */

@keyframes rainbow {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 400px;
  }
}

.link:hover, .link:focus {
  color: var(--bg) !important;
  font-style: italic;
  background: linear-gradient(
    to right,
    var(--accent1) 0,
    var(--accent2) 50%,
    var(--accent1) 100%
  );
  background-size: 400px 1px;
  animation: rainbow 4s linear infinite;
}

.link:focus, .link:active {
  outline: dotted 1px #555; /* replace chrome outline with win95-ish dotted line */
}

/* ---- emoji animations */

@keyframes rotate {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0, 1);
  }
  50% {
    transform: scale(-1, 1);
  }
  75% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes puni {
  0% {
    transform: scale(1, 1) rotate(5deg);
  }
  12.5% {
    transform: scale(0.9, 1.1) rotate(10deg);
  }
  25% {
    transform: scale(1, 1) rotate(5deg);
  }
  37.5% {
    transform: scale(1.1, 0.9) rotate(0deg);
  }
  50% {
    transform: scale(1, 1) rotate(-5deg);
  }
  62.5% {
    transform: scale(0.9, 1.1) rotate(-10deg);
  }
  75% {
    transform: scale(1, 1) rotate(-5deg);
  }
  87.5% {
    transform: scale(1.1, 0.9) rotate(0);
  }
  100% {
    transform: scale(1, 1) rotate(5deg);
  }
}

.rot {
  animation: rotate 5s linear infinite;
}

.puni {
  animation: puni 1.5s linear infinite;
}
