:root {
  --fg: #eae9fb;
  --selectedFg: var(--fg);
  --bg: #440088;
  --overlay: rgba(192, 192, 192, 0.1);
  --shadow: rgba(255, 255, 255, 0.2);
  --accent1: #7265ff;
  --accent2: #fb65ff;
  --dark1: rgba(90, 76, 254, 0.6);
  --dark2: rgba(251, 76, 254, 0.6);
  --link: #fb65ff;
  --strong: #fe4c97;
}

#body {
  text-align: center;
  color: var(--fg);
  margin: 16px;
  line-height: 1.5em;
  background-color: var(--bg);
}

#title {
  color: var(--accent2);
  text-align: center;
  text-shadow:
    -1px -1px 0px var(--dark1),
    -2px -2px 0px var(--dark1),
    -3px -3px 0px var(--dark1),
    -5px -5px 0px var(--dark1);
  font-style: italic;
}

.hr {
  border-color: var(--accent1);
}

.left {
  text-align: left;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  margin: 12px 0;
}

.header {
  text-align: left;
  font-style: italic;
  background: var(--dark1);
}

#content {
  max-width: 640px;
  margin: auto;
}

/* ---- yumekawa links */

.link, .link:visited {
  color: var(--link);
  border: 1px solid transparent;
  font-style: italic;
}

/* ---- emoji animations */

.rot {
  display: inline-block;
  margin: 0 8px;
}

.puni {
  display: inline-block;
  margin: 0 8px 0 0;
}
