:root {
  --fg: #4c4c4c;
  --bg: #ffffff;
  --accent1: #8a7fff;
  --accent2: #fd7fff;
  --link: #5b4cff;
  --bgImg:
    linear-gradient(30deg, #ebfcff 12%, transparent 12.1%, transparent 87%, #ebfcff 87.1%, #ebfcff),
    linear-gradient(150deg, #ebfcff 12%, transparent 12.1%, transparent 87%, #ebfcff 87.1%, #ebfcff),
    linear-gradient(30deg, #ebfcff 12%, transparent 12.1%, transparent 87%, #ebfcff 87.1%, #ebfcff),
    linear-gradient(150deg, #ebfcff 12%, transparent 12.1%, transparent 87%, #ebfcff 87.1%, #ebfcff),
    linear-gradient(60deg, #edebff 25%, transparent 25.1%, transparent 75%, #edebff 75%, #edebff),
    linear-gradient(60deg, #edebff 25%, transparent 25.1%, transparent 75%, #edebff 75%, #edebff);
  --bgImgSize: 50px 100px;
  --bgImgPos: 0 0, 0 0, 25px 50px, 25px 50px, 0 0, 25px 50px;
  --shadowBase: 1px 0 rgba(0, 255, 0, 0.2), -1px 0 rgba(0, 0, 255, 0.2);
}

#body {
  text-align: center;
  color: var(--fg);
  background-color: var(--bg);
  background-image: var(--bgImg);
  background-size: var(--bgImgSize);
  background-position: var(--bgImgPos);
  margin: 16px;
  line-height: 1.5em;
  text-shadow: var(--shadowBase);
}

#title {
  color: var(--accent2);
  text-align: center;
  text-shadow: -4px -4px 0px var(--accent1), var(--shadowBase);
  font-style: italic;
}

.left {
  text-align: left;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  margin: 12px 0;
}

#content {
  max-width: 640px;
  margin: auto;
}

/* ---- yumekawa links */

.link, .link:visited {
  color: var(--link);
  border: 1px solid transparent;
  font-style: italic;
}

/* ---- emoji animations */

.rot {
  display: inline-block;
  margin: 0 8px;
}

.puni {
  display: inline-block;
  margin: 0 8px 0 0;
}
