body {
  font-family: 'ＭＳ ゴシック', 'MS Gothic', Osaka, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  -webkit-font-smoothing: none;
}
