/* --- block */

.ui {
  user-select: none;
}

/* ---- classic buttons */

.btn {
  cursor: pointer;
}

.btn:focus, .btn:active {
  outline: dotted 1px #333; /* replace chrome outline with win95-ish dotted line */
  outline-offset: -6px;
}

.btn:active {
  color: #333;
  box-shadow: 0 0 1px 1px #333 inset;
}

.btn:disabled {
  cursor: not-allowed;
  outline: none;
  color: rgba(0,0,0,0.1);
  text-shadow:
    0px 0px 1px #aaa,
    1px 1px 0px #fff,
    1px 1px 1px #fff;
}

/* --- strong texts */

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.new {
  animation: blink 1s linear infinite;
}

/* ---- kirakira */

.kira {
  display: inline-block;
  position: fixed;
  width: 1em;
  line-height: 1;
  top: -0.5em;
  left: -0.5em;
  pointer-events: none;
}

/* ---- dialogue */

#dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}

#dialog-container.open {
  display: block;
}

#dialog {
  display: inline-block;
  text-align: left;
  max-width: 320px;
  margin: 30vh auto 0;
  padding: 4px;
  pointer-events: auto;
}

#dialog-title {
  padding: 4px 8px;
  line-height: 1;
  color: var(--bg);
  background: linear-gradient(to right, var(--accent1) 0, var(--accent2) 100%);
}

#dialog-body {
  padding: 12px;
}

#dialog-btns {
  text-align: center;
  margin-top: 12px;
}
