.profile-card {
  margin: 20px 0;
}

.profile-icon {
  display: inline-block;
  vertical-align: top;
  margin: 12px;
}

.profile-body {
  display: inline-block;
  max-width: 460px;
}

.profile-name {
  font-size: 1.5em;
  font-weight: bold;
}

.profile-section {
  margin-bottom: 16px;
}

.profile-title {
  font-weight: bold;
}
