/* ---- strong */

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

strong {
  font-style: italic;
}

.new {
  animation: blink 1s linear infinite;
  color: #f00;
}

.unavailable {
  background-color: #ff0;
  color: #000;
}

/* ---- hyperlinks */

a, a:visited {
  color: var(--link);
  border: 1px solid transparent;
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--focus);
  text-decoration: underline;
}

a:focus, a:active {
  outline: dotted 1px #555; /* replace chrome outline with win95-ish dotted line */
}

a:active {
  color: var(--active);
}

/* ---- buttons */

.btn {
  display: inline-block;
  position: relative;
  left: 2px;
  font-size: 0.9em;
  padding: 8px;
  color: #333;
  text-decoration: none;
  background-color: #c0c0c0;
  box-shadow:
    -2px 0 0 0 #fff,
    0 -2px 0 0 #fff,
    -2px -2px 0 0 #fff,
    0 0 0 1px #717171,
    0 0 0 2px #000;
  user-select: none;
  line-height: 1;
}

.btn:hover, .btn:focus {
  color: #333;
}

.btn:focus, .btn:active {
  outline: dotted 1px #555; /* replace chrome outline with win95-ish dotted line */
  outline-offset: -4px;
}

.btn:active {
  color: #333;
  box-shadow: 0 0 0 1px #000;
}

.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled:active {
  cursor: not-allowed;
  outline: none;
  color: #eee;
  text-shadow: 1px 0px 0px #fff;
  box-shadow:
    -2px 0 0 0 #eaeaea,
    0 -2px 0 0 #eaeaea,
    -2px -2px 0 0 #eaeaea,
    0 0 0 2px #717171;
}

/* ---- union banners */

.union_banner {
  line-height: 33px; // height of largest banner
}
