---
title: "zk-phi の部屋 :: おまけコーナー"
noindex: true
layout: layouts/common.njk
styles:
  - css/code39.css
---

<h1 class="title">
  <span class="rot">👋</span> おまけコーナー <span class="rot">👋</span>
</h1>

<p>
  おまけコーナーです。ここにはなにもありません？？？
</p>

<div class="code39-scroll-container">
  <div class="code39-gradient">
    <div class="code39-gradient-end">X0503</div>
  </div>
  <img class="code39-image" src="/svg/code39.svg" alt="code39">
  <div class="code39-foot" />
</div>
