---
title: "zk-phi の部屋 :: リンク集"
layout: layouts/common.njk
styles:
  - css/links.css
---

<h1 class="title">
  <span class="rot">🌏</span> リンク集 <span class="rot">🌏</span>
</h1>

<p>
  管理人の出没するサイトをまとめました。
</p>

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>

<hr />

<p>
  <a class="link" target="_blank" rel="noreferrer" href="https://www.resume.id/zk_phi">
    ポートフォリオ (RESUME)
  </a>
</p>

<h2 class="section-header">
  <span class="puni">🐬</span> 製作物
</h2>

<ul class="list">
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://github.com/zk-phi">
      ソフト、ハード、フォントなど (GitHub)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://cadlab.io/zk-phi">
      回路・基板設計 (CADLAB)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://zenn.dev/zk_phi">
      技術書 (Zenn)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://speakerdeck.com/zk_phi">
      発表スライド (Speakerdeck)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://soundcloud.com/zk_phi">
      音楽 (Soundcloud)
    </a>
  </li>
  <li class="item">
    <a class="link" href="https://www.youtube.com/channel/UC9_g5OIOEDXQsaqV3BkRWcQ">
      動画 (YouTube)
    </a>
  </li>
  <li class="item">
    <a class="link" href="https://www.nicovideo.jp/mylist/66800354">
      動画 (ニコニコ動画)
    </a>
  </li>
  <li class="item">
    <a class="link" href="https://quiz-maker.site/creator/detail/177123803">
      クイズ (クイズメーカー)
    </a>
  </li>
</ul>

<h2 class="section-header">
  <span class="putni">🐬</span> ショップ
</h2>

<ul class="list">
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://zk-phi.booth.pm/">
      同人ハードなど (BOOTH)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://make.dmm.com/shop/219669/">
      3D プリント製品 (DMM.make)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://suzuri.jp/zk_phi">
      その他 (SUZURI)
    </a>
  </li>
</ul>

<h2 class="section-header">
  <span class="puni">🐬</span> 記事
</h2>

<ul class="list">
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://qiita.com/zk_phi">
      プログラミング関連 (Qiita)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://note.mu/zk_phi">
      趣味 (note)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://scrapbox.io/zkphi/">
      雑感・公開メモ (Scrapbox)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://reddit.com/u/zk_phi">
      海外フォーラム (Reddit)
    </a>
  </li>
</ul>

<h2 class="section-header">
  <span class="puni">🐬</span> SNS アカウント
</h2>

<ul class="list">
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://twitter.com/zk_phi">
      Twitter
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://untappd.com/user/zk_phi">
      ビール (Untappd)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://bookmeter.com/users/143741">
      読書 (読書メーター)
    </a>
  </li>
  <li class="item">
    <a class="link" href="/404.html">mixi</a> <strong class="under-development">工事中</strong>
  </li>
</ul>

<h2>
  <span class="puni">🐬</span> その他
</h2>

<ul class="list">
  <li class="item">
    <a class="link" href="/etc/">イベント出展、メディア掲載など</a>
  </li>
</ul>

<hr />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
