---
title: "zk-phi の部屋 :: 主な公開物"
permalink: /works/tech/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🏛</span>主な公開物<span class="rot">🏛️</span>
</h1>

<p>
  これまでに公開した主な技術記事・技術書・スライドたちです。
</p>

<hr class="hr" />

<div class="left">

  <div class="header">📌 ここからはじめる自作キーボード <small>(2020)</small></div>
  <p>
    <a class="link" href="https://riconken.bitbucket.io/hifumi/" target="_blank">公式ページ</a>
  </p>
  <p>
    友人と共同執筆した自作キーボード入門書です。小型マクロパッド<a class="link" href="https://github.com/zk-phi/1x2x3-keyboard" target="_blank">「hifumi」</a>のキットが付属し、実際に手元で組み立てながら学ぶことができます。半田付けのチュートリアルから、キーボードの簡単なしくみの解説、カスタマイズのアイデア紹介まで、関連トピックを浅く広く網羅したつもりです。同人誌即売会のほか、<a class="link" href="https://shop.yushakobo.jp/products/a0900kj-00-1" target="_blank">遊舎工房</a>さんでも入手可能です（2023/02 現在）。
  </p>

  <div class="header">📌 Emacs の起動時間を""詰める"" <small>(2020)</small></div>
  <p>
    <a class="link" href="https://zenn.dev/zk_phi/books/cba129aacd4c1418ade4" target="_blank">Zenn</a>
  </p>
  <p>
    重くなりがちな Emacs の起動時間を短縮しようという技術書です。決定版となるような内容を目指して、初歩的な内容からかなり踏み込んだチューニングまで網羅しています。はじめから最適化された設定ファイルを書くことができる<a class="link" href="https://github.com/zk-phi/setup" target="_blank">フレームワーク</a>も実装しました（かなりトリッキーなコードになっています）。
  </p>

  <div class="header">📌 意味の色とカラーテーマ <small>(2018)</small></div>
  <p>
    <a class="link" href="https://qiita.com/zk_phi/items/9bc65ae7c309cf46467d" target="_blank">Qiita</a>
  </p>
  <p>
    カオス状態となっている（と感じる） Emacs のテーマ機構を再設計する記事です。「色を持たないカラースキーム」というアイデアによって、再設計されたテーマ機構を実際に<a class="link" href="https://github.com/zk-phi/elemental-theme" target="_blank">プラグイン</a>として利用できます。
  </p>

  <div class="header">📌 Emacs 小指に足で対抗した話 <small>(2018)</small></div>
  <p>
    <a class="link" href="https://speakerdeck.com/zk_phi/lt-emacs-xiao-zhi-nizu-dedui-kang-sitahua" target="_blank">Speakerdeck</a>
  </p>
  <p>
    Ctrl キーをフットペダルで操作できるようにした時の話です。 LT 発表のスライドなので、あまり真面目な内容ではありません。
  </p>

  <div class="header">「幅優先探索はわかるけどダイクストラ法は怪しい」あなたに <small>(2020)</small></div>
  <p>
    <a class="link" href="https://qiita.com/zk_phi/items/d93f670544e4b9816ed0" target="_blank">Qiita</a>
  </p>
  <p>
    ダイクストラ法を、（動的計画法の一種としてではなく）幅優先探索の効率化テクとして理解すると直感的なのでは、というひらめきから書いた記事です。
  </p>

  <div class="header">キーキャップ設計による OpenSCAD 入門 <small>(2018)</small></div>
  <p>
    <a class="link" href="https://qiita.com/zk_phi/items/ab99315ebaef66e84aa0" target="_blank">Qiita</a>
  </p>
  <p>
    キーボードの部品「キーキャップ」の設計を題材にした、3DCAD (OpenSCAD) の入門記事です。初歩の初歩から、実際に 3D プリントを発注する際の Tips まで網羅しました。
  </p>

  <div class="header">λ計算から始める Lazy K <small>(2016)</small></div>
  <p>
    <a class="link" href="https://zenn.dev/zk_phi/books/5f0430586c25dc0a70ae" target="_blank">Zenn</a>
  </p>
  <p>
    難読プログラミング言語「Lazy K」のプログラムを書く（生成する）ことを目指して、関数型言語の基礎（ラムダ計算）から学び直す技術書です。ラムダ計算から Lazy K への<a class="link" href="https://github.com/zk-phi/lambda_to_lazyk" target="_blank">トランスレータ</a>も Prolog で実装しました。組み込み関数もいくらか用意したので、トイ関数型言語くらいの表現力があります。
  </p>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/works/">&lt; 戻る</a>
</p>
