---
title: "zk-phi の部屋 :: 主な公開物"
permalink: /works/others/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🏛</span>主な公開物<span class="rot">🏛️</span>
</h1>

<p>
  その他の公開物をピックアップして紹介します。
</p>

<hr class="hr" />

<div class="left">

  <div class="header">📌 TRANCE VIBRATOR RESUSCITATOR <small>(2021)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/trance-vibrator-resuscitator/" target="_blank">開く</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/888da61363e73d90c7c5" target="_blank">技術解説</a>
  </p>
  <p>
    音や映像に合わせて各種振動デバイスを制御して気持ち良くなれる、体験型のコンテンツです。複数の振動デバイスを同時に制御できるので、低音を全身で感じることができます。あらかじめこちらで用意した映像と振動パターンですぐに遊べるほか、 PC 上の音声に連動させて遊ぶこともできるので、映画・ライブ鑑賞やゲームなどにも使えます。ブラウザ上で動作し、各種ゲームコントローラーや、 PS2 向けボディソニックデバイス「トランスバイブレーター」などを制御できます。生の USB コマンドをブラウザから送信したり、 Bluetooth 越しに Joy-Con の内部コマンドを叩いたり、技術的にもちょっと面白いことをやっているかもしれないです。
  </p>
  <p>
    <small>コア技術: WebUSB, WebHID, 音声処理 (WebAudio, FFT), 2Dグラフィック (Canvas, WebGL)</small>
  </p>

  <div class="header">📌 Affinity keyboard <small>(2020)</small></div>
  <p>
    <a class="link" href="https://twitter.com/zk_phi/status/1271797216508669954" target="_blank">Twitter（音が鳴ります）</a>,
    <a class="link" href="https://github.com/zk-phi/affinity-keyboard" target="_blank">GitHub</a>
  </p>
  <p>
    再生中の音楽（など）と連動して光る 4x4 のミニキーボードです。「デスクが曲に合わせてキラキラ光ったらカッコいい」という単純な動機で作りました。テンキーやマクロパッドとしての使用を想定しています。
  </p>
  <p>
    <small>コア技術: 基板設計 (電子回路, 基板CAD), 3DCAD, 組み込み</small>
  </p>

  <div class="header">📌 国産クラフトでビアスタイルひとめぐり <small>(2020)</small></div>
  <p>
    <a class="link" href="https://note.com/zk_phi/n/n40a0784959ca" target="_blank">note</a>
  </p>
  <p>
    多様な（クラフト）ビールの世界をざっくりと紹介する記事です。それぞれのスタイルについて、国内のおすすめビール紹介も添えました。クラフトビールにはストーリーやカルチャーの存在も欠かせないと思っているので、ブルワリー（メーカー）の簡単な紹介や、各スタイルが生まれた歴史的経緯などにもほんのり触れています。
  </p>

  <div class="header">📌 ミクさんにミニチュアステージを作ってあげたらライブしてくれた <small>(2016)</small></div>
  <p>
    <a class="link" href="https://www.youtube.com/watch?v=_dDWSfh1zrY" target="_blank">YouTube（音が鳴ります）</a>
  </p>
  <p>
    ペッパーズゴーストと呼ばれる視覚トリックを使って、 Vocaloid のライブっぽいやつを卓上で再現してみました。
  </p>
  <p>
    <small>コア技術: 3DCAD, 電子回路, 組み込み, 音声処理 (FFT, ビート検出)</small>
  </p>

  <div class="header">📌 早押しクイズ検定 <small>(2020)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/simple-buzzer-quiz/" target="_blank">開く</a>
  </p>
  <p>
    ブラウザ上で早押しクイズを遊べたら楽しそうだなと思って作ったプロトタイプです。アプリ「みんなで早押しクイズ」のような、「一定時間手が止まったらアウト」形式のタイピングクイズをベースとしつつ、表記揺れなどでいちいち不正解とならないような入力方式を検討しました。問題は JSON で簡単に差し替えられます（<a class="link" href="/etc/quiz">サンプル</a>）。
  </p>

  <div class="header">死角謎ってこんな感じですか <small>(2024)</small></div>
  <p>
    <a class="link" href="https://x.com/zk_phi/status/1666778929758351360" target="_blank">Twitter</a>
  </p>
  <p>
    ただ「どこかに謎があります」ということだけが提示され、具体的な出題がないままにその「謎」を探す、「死角謎」と呼ばれるジャンルに興味を持ち、作ってみたものです。
  </p>
  <p>
    <small>コア技術: ？？？</small>
  </p>

  <div class="header">これでわかる OBS で配信・ Web 会議するときの音声設定 <small>(2021)</small></div>
  <p>
    <a class="link" href="https://note.com/zk_phi/n/n2eddc88b1460" target="_blank">note</a>
  </p>
  <p>
    主にこれから動画配信を始めてみたい人向けに、わかりづらい音声周りの設定を解説した記事です。伸ばす気満々で書きましたが伸びませんでした。
  </p>

  <div class="header">チュウニズムレートアナライザー <small>(2015)</small></div>
  <p>
    （現在は使用不可）
  </p>
  <p>
    セガのアーケード音楽ゲーム「CHUNITHM」のレーティングの内訳を計算できるツールでした。現在のプレイ状況から、どの曲のスコアを伸ばすと効率的にレーティングを上げられるか、などの情報も計算することができました。自分自身のプレー頻度が下がったため、また公式のスコア管理機能が充実してきて役割を譲るべきと感じたため更新を停止しました。
  </p>

  <div class="header">philisp <small>(2014)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/philisp" target="_blank">GitHub</a>
  </p>
  <p>
    「シンプルで自由度が高い」をテーマに考えたトイプログラミング言語の仕様と実装です。継続を持つ言語の処理系を初めて書きましたが、案の定バグっています（直していないので、実質未完成の処理系です）。動的束縛、マクロの代わりに FEXPR（っぽい何か）、真正末尾再帰な eval など、変わったことをやろうという気概が感じられますが、やっぱり上手くいっていません。
  </p>

  <div class="header">purupuru <small>(2018)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/purupuru/" target="_blank">開く</a>
  </p>
  <p>
    ぷるぷる。
  </p>

  <div class="header">Flashlove <small>(2017)</small></div>
  <p>
    <a class="link" href="https://soundcloud.com/zk_phi/flashlove" target="_blank">SoundCloud（音が鳴ります）</a>
  </p>
  <p>
    ゼロ年代のキラキラでちょっとチープなトランスが好きです。
  </p>

  <div class="header">Packet Seashore <small>(2017)</small></div>
  <p>
    <a class="link" href="https://soundcloud.com/zk_phi/packet-seashore-1" target="_blank">SoundCloud（音が鳴ります）</a>
  </p>
  <p>
    ひとりパケットの海を見つめながら。
  </p>

  <div class="header">La fin et l'aube [穴] <small>(2011)</small></div>
  <p>
    <a class="link" href="https://www.youtube.com/watch?v=ZpIGrq24QBI" target="_blank">YouTube（音が鳴ります）</a>
  </p>
  <p>
    差分 bms (音ゲーの譜面) です。穴抜き譜面の入門として、LN 難易度表＆段位認定に採用されました（◆５）。
  </p>

  <div class="header">ASTRO [サクマ式] <small>(2011)</small></div>
  <p>
    <a class="link" href="https://www.youtube.com/watch?v=3KcyJPgXnNk" target="_blank">YouTube（音が鳴ります）</a>
  </p>
  <p>
    「わかる人にはわかる」ネタを詰め込んだ差分 bms です。
  </p>

  <div class="header">Monkey Jam [zA] <small>(2011)</small></div>
  <p>
    <a class="link" href="https://www.youtube.com/watch?v=EmxVf8ekQoI" target="_blank">YouTube（音が鳴ります）</a>
  </p>
  <p>
    「叩いていて気持ちいい」を強く意識した差分 bms です。お気に入り。
  </p>

  <div class="header">【カオスポッドコントロール】 <small>(2008)</small></div>
  <p>
    （現在は削除）
  </p>
  <p>
    遊戯王のデッキです。カードゲームが徐々に、「デザイナーがあらかじめ想定したコンボ・組み合わせ（今でいう「テーマ」）をまるごと採用する」ゲームにシフトしつつあった当時、なんとか時代の流れに逆らって、汎用カードの組み合わせで戦おうとした結果、新しいアーキタイプを発明しました（自分はカードゲームのクリエイティブな部分が好きでした）。リバースモンスターが本質的に０：１交換であることを活かし、《カオスポッド》とリバースモンスターを主軸に戦います。シンクロ召喚の登場などでデッキパワーがインフレする中、《闇の仮面》《落とし穴》など完全に時代遅れのカードをフル投入して大会に持ち込み、数回は優勝しました。
  </p>

  <div class="header">summer wind <small>(2008)</small></div>
  <p>
    <a class="link" href="https://soundcloud.com/zk_phi/summer-wind" target="_blank">SoundCloud（音が鳴ります）</a>
  </p>
  <p>
    MIDI 時代の産物（呪物）、ライヒと久石の中間くらいをやろうとしていた記憶があります。音源は当時 Winamp のプラグインで無理やり録音したものです。
  </p>

  <!-- <div class="header">ygocalc <small>(2015)</small></div> -->
  <!-- <div class="header">代用カードメーカー <small>(2015)</small></div> -->
  <!-- <div class="header">ニコ生チェッカー <small>(時期不明)</small></div> -->
  <!-- その他デッキ、bms、音楽、動画 -->

</div>

<hr class="hr" />

<p>
  <a class="link" href="/works">&lt; 戻る</a>
</p>
