---
title: "zk-phi の部屋 :: 主な公開物"
permalink: /works/others/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🏛</span>主な公開物<span class="rot">🏛️</span>
</h1>

<p>
  その他の公開物をピックアップして紹介します。
</p>

<hr class="hr" />

<div class="left">

  <div class="header">📌 TRANCE VIBRATOR RESUSCITATOR <small>(2021)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/trance-vibrator-resuscitator/" target="_blank">開く</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/888da61363e73d90c7c5" target="_blank">技術解説</a>
  </p>
  <p>
    音や映像に合わせて各種振動デバイスを制御して気持ち良くなる、体験型のコンテンツです。複数の振動デバイスを同時に制御できるので、低音を全身で感じることができます。あらかじめ用意された映像と振動パターンで遊ぶほか、別のタブで流れている音声・映像に連動させることもできるので、映画・ライブ鑑賞などにも使えます。各種ゲームコントローラーや、 PS2 向けボディソニックデバイス「トランスバイブレーター」などを制御できます。とくに Joy-Con / Pro-Con は「HD 振動」の制御にも対応しており、楽しいです。
  </p>
  <p>
    <small>コア技術: WebUSB, WebHID, 音声処理 (FFT), 2Dグラフィック, WebGL</small>
  </p>

  <div class="header">📌 国産クラフトでビアスタイルひとめぐり <small>(2020)</small></div>
  <p>
    <a class="link" href="https://note.com/zk_phi/n/n40a0784959ca" target="_blank">note</a>
  </p>
  <p>
    多様な（クラフト）ビールのスタイルをざっくりと紹介する記事です。それぞれのスタイルについて、国内で作られているそのスタイルのおすすめビール紹介も添えました。クラフトビールにはストーリー・カルチャーの存在も欠かせないと思っているので、ブルワリー自体の簡単な紹介やスタイルの歴史的経緯などにもほんのり触れています。
  </p>

  <div class="header">📌 ミクさんにミニチュアステージを作ってあげたらライブしてくれた <small>(2016)</small></div>
  <p>
    <a class="link" href="https://www.youtube.com/watch?v=_dDWSfh1zrY" target="_blank">YouTube（音が鳴ります）</a>
  </p>
  <p>
    ペッパーズゴーストと呼ばれる視覚トリックを使って、 Vocaloid のライブっぽいやつを卓上で再現してみました。
  </p>
  <p>
    <small>コア技術: 3DCAD, 電子回路, 組み込み, 音声処理 (FFT, ビート検出)</small>
  </p>

  <div class="header">早押しクイズ検定 <small>(2020)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/simple-buzzer-quiz/" target="_blank">開く</a>
  </p>
  <p>
    ブラウザ上で早押しクイズを遊べたら楽しそうだなと思って作ったプロトタイプです。「みんなで早押しクイズ」のように「一定時間手が止まったらアウト」形式のタイピングクイズをベースとしつつ、表記揺れなどでいちいち不正解とならないような採点方法を考えました。問題は JSON で簡単に差し替えられます（<a class="link" href="/etc/quiz">サンプル</a>）。
  </p>

  <div class="header">これでわかる OBS で配信・ Web 会議するときの音声設定 <small>(2021)</small></div>
  <p>
    <a class="link" href="https://note.com/zk_phi/n/n2eddc88b1460" target="_blank">note</a>
  </p>
  <p>
    主にこれから動画配信を始めてみたい人向けに、わかりづらい音声周りの設定を解説した記事です。伸ばす気満々で書きましたが伸びませんでした。
  </p>

  <div class="header">Affinity keyboard <small>(2020)</small></div>
  <p>
    <a class="link" href="https://twitter.com/zk_phi/status/1271797216508669954" target="_blank">Twitter（音が鳴ります）</a>,
    <a class="link" href="https://github.com/zk-phi/affinity-keyboard" target="_blank">GitHub</a>
  </p>
  <p>
    再生中の音楽（など）と連動して光る 4x4 のミニキーボードです。曲に合わせてキラキラ光る LaunchPad がカッコ良すぎて作りました。テンキーやマクロパッドとしての使用を想定しています。
  </p>
  <p>
    <small>コア技術: 基板設計, 筐体設計, 組み込み</small>
  </p>

  <div class="header">purupuru <small>(2018)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/purupuru/" target="_blank">開く</a>
  </p>
  <p>
    ぷるぷる。
  </p>

  <div class="header">Flashlove <small>(2017)</small></div>
  <p>
    <a class="link" href="https://soundcloud.com/zk_phi/flashlove" target="_blank">SoundCloud（音が鳴ります）</a>
  </p>
  <p>
    ゼロ年代のキラキラでちょっとチープなトランスが好きです。
  </p>

  <div class="header">Packet Seashore <small>(2017)</small></div>
  <p>
    <a class="link" href="https://soundcloud.com/zk_phi/packet-seashore-1" target="_blank">SoundCloud（音が鳴ります）</a>
  </p>
  <p>
    パケットの海でひとりぷかぷか。
  </p>

  <div class="header">philisp <small>(2014)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/philisp" target="_blank">GitHub</a>
  </p>
  <p>
    「シンプルで自由度が高い」をテーマに考えたトイプログラミング言語の仕様と実装です。継続を持つ言語の処理系を初めて書きましたが、案の定バグってます（そのまま残っているので、実質未完成の処理系です）。動的束縛、マクロではなく FEXPR（っぽい何か）、真正末尾再帰な eval など、変わったことをやろうという気概が感じられますが、やっぱり上手くいっていないのも趣味開発らしくて味があります。
  </p>

  <div class="header">La fin et l'aube [穴] <small>(2011)</small></div>
  <p>
    <a class="link" href="https://www.youtube.com/watch?v=ZpIGrq24QBI" target="_blank">YouTube（音が鳴ります）</a>
  </p>
  <p>
    穴抜き譜面入門を狙った差分 bms です。LN 難易度表＆段位認定に採用されました（◆５）。
  </p>

  <div class="header">ASTRO [サクマ式] <small>(2011)</small></div>
  <p>
    <a class="link" href="https://www.youtube.com/watch?v=3KcyJPgXnNk" target="_blank">YouTube（音が鳴ります）</a>
  </p>
  <p>
    「わかる人にはわかる」ネタを詰め込んだ差分 bms です。
  </p>

  <div class="header">Monkey Jam [zA] <small>(2011)</small></div>
  <p>
    <a class="link" href="https://www.youtube.com/watch?v=EmxVf8ekQoI" target="_blank">YouTube（音が鳴ります）</a>
  </p>
  <p>
    叩いていて気持ちいい、を強く意識した差分 bms です。お気に入り。
  </p>

  <div class="header">【カオスポッドコントロール】 <small>(2008)</small></div>
  <p>
    （現在は削除）
  </p>
  <p>
    《カオスポッド》とリバースモンスターを主軸にした遊戯王のデッキです。カードゲームが徐々に「デザイナーがあらかじめ想定したコンボ・組み合わせ（今でいう「テーマ」）」を揃えるゲームにシフトしつつあった当時、なんとか時代の流れに逆らって、汎用カードを組み合わせた独自のコンボで戦おうとした結果、新しいアーキタイプが爆誕しました。《闇の仮面》など完全に時代遅れのカードをフル投入して、ライトロード〜シンクロ環境くらいまで大会に持ち込み続けていました。
  </p>

  <div class="header">summer wind <small>(2008)</small></div>
  <p>
    <a class="link" href="https://soundcloud.com/zk_phi/summer-wind" target="_blank">SoundCloud（音が鳴ります）</a>
  </p>
  <p>
    MIDI 時代の産物（呪物）、ライヒと久石の中間くらいをやろうとしていた記憶があります。音源は当時 Winamp のプラグインで無理やり録音したものです。
  </p>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/works">&lt; 戻る</a>
</p>
