---
title: "zk-phi の部屋 :: 主な公開物"
permalink: /works/services/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🏛</span>主な公開物<span class="rot">🏛️</span>
</h1>

<p>
  これまでに公開した主なツール・サービスたちです。
</p>

<hr class="hr" />

<div class="left">

  <div class="header">📌 MEGAMOJI <small>(2017)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/MEGAMOJI/" target="_blank">開く</a>,
    <a class="link" href="https://note.com/zk_phi/n/n5aaff539db5a" target="_blank">振り返り記事</a>
  </p>
  <p>
    各種チャットツールでの使用を想定した、カスタム絵文字作成ツールです。テキストから手軽に絵文字を作れるほか、派手なアニメーションを簡単な操作でつけることもできます。 2023/10 時点で MAU 3 万人を達成。
  </p>
  <p>
    <small>コア技術: 2Dグラフィック (Canvas, WebGL, SVG操作), GIFエンコード, Web Workers</small>
  </p>

  <div class="header">📌 ARGTOOLS-JP <small>(2025/WIP)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/argtools-jp/" target="_blank">開く</a>,
  </p>
  <p>
    高難易度謎解き、ARG、CTF などで使えるさまざまな解析ツールの複合体です。入力されたデータから、使えそうなツールを自動で絞り込んで提案します。スペクトログラム解析など、オンラインのツールとしては珍しいものも実装しています。
  </p>
  <p>
    <small>コア技術: 音声処理、画像処理、バイナリ解析、ステガノグラフィ、古典暗号、等々</small>
  </p>

  <div class="header">📌 HRTFy <small>(2022)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/HRTF/" target="_blank">開く</a>
  </p>
  <p>
    ブラウザ上で立体音響を制作できるツールです。動画や TRPG のオンラインセッションなどで、効果音の演出に使うことを想定しました。手持ちの音声素材ですぐに遊べます。
  </p>
  <p>
    <small>コア技術: 音声処理 (WebAudio, HRTF), 3Dグラフィック (Three.js)</small>
  </p>

  <div class="header">📌 TCG Playground <small>(2025/WIP)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/tcgplayground/" target="_blank">開く</a>,
  </p>
  <p>
    様々な TCG (カードゲーム) で使用できる、汎用的なデッキ調整ツールフレームワークです。現在はデモを公開しています。バージョン管理可能なデッキ構築ツールと、使いやすい一人回しツールの複合体になる予定です。最近、新しいカードゲームがどんどん登場しているので、マイナーゲームにも速やかにインフラを供給できる環境ができると良いな、と思っています。
  </p>
  <p>
    <small>コア技術: (やや)複雑 UI、IndexedDB</small>
  </p>

  <div class="header">📌 背景抜き太郎 <small>(2018)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/kusocolla-republic/" target="_blank">開く</a>
  </p>
  <p>
    ブラウザ上で写真などの画像から背景を抜けるツールです。デザイナーさんが爆速でタイムリーなクソコラを上げてくるのが羨ましかったので作りました。実装しやすそうだったので GrowCut アルゴリズムを使っています。
  </p>
  <p>
    <small>コア技術: 画像処理 (Canvas, GrowCut), Web Workers</small>
  </p>

  <div class="header">📌 sky-color-clock.el <small>(2017)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/sky-color-clock" target="_blank">GitHub</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/11a419911db861b9211e" target="_blank">技術解説</a>
  </p>
  <p>
    今の時刻や天気を「空の色」として視覚的に感じられる時計ウィジェットです。 Emacs 上で動作しますが、有志の方が<a class="link" href="https://github.com/opengl-8080/little-sky" target="_blank">デスクトップアプリ版</a>, <a class="link" href="https://github.com/mopp/sky-color-clock.vim" target="_blank">Vim版</a>, <a class="link" href="https://marketplace.visualstudio.com/items?itemName=sumomoneko.sky-color" target="_blank">VSCode版</a>などの派生版を作ってくださっています。
  </p>
  <p>
    <small>コア技術: 簡易的な天体計算, Openweathermap API, 動的な色生成</small>
  </p>

  <div class="header">📌 いい感じの初手率計算機 <small>(2021)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/handanalyze/" target="_blank">開く</a>
  </p>
  <p>
    カードゲームのデッキ構築支援ツールです。投入枚数の微妙な調整が手札にどう影響するかを、直感的に把握できます。
  </p>
  <p>
    <small>コア技術: 深さ優先探索＋枝刈り</small>
  </p>

  <div class="header">📌 YouTubeサイドプレイヤー <small>(2007)</small></div>
  <p>
    （現在は削除）
  </p>
  <p>
    画面の隅で YouTube 動画を連続再生しておける Windows 用ソフトです。今となっては当たり前の機能という感じですが、 YouTube が流行り始めだった当時、 Picture-in-picture も連続再生機能も公式には存在しませんでした。いくつかの雑誌に掲載されました。
  </p>

  <div class="header">Virtual Audio Cables <small>(2024)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/virtual-audio-cables" target="_blank">開く</a>
  </p>
  <p>
    ある音声デバイスからの出力を別の音声デバイスの入力につなげる、いわゆる「仮想ケーブル」をブラウザだけで作成できるツールです。下の「外音取込君」から各種エフェクトを省略し、代わりに複数の仮想ケーブルを作成できるようにしたものです。入力ソースごとに個別に音量調整ができるので、簡易的なミキサーとしても使うことができるかもしれません。
  </p>
  <p>
    <small>コア技術: 音声処理 (WebAudio), PWA</small>
  </p>

  <div class="header">pokedock <small>(2024)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/pokedock/" target="_blank">開く</a>,
    <a class="link" href="https://note.com/zk_phi/n/nf45603ceaaa3" target="_blank">機能解説</a>
  </p>
  <p>
    ポケモン育成の支援ツールです。色々な育成支援ツールの機能を一箇所に統合・強化したようなもので、努力値等の最適化、主要な仮想敵に対する一括ダメージ計算、主要な仮想敵との素早さ一括比較、作成した育成プランの保存などの機能を持ちます。しっかり作り込む前にポケモン対戦から離れてしまったので、完成度はぼちぼちです。
  </p>

  <div class="header">外音取込君 <small>(2021)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/gaionkun/" target="_blank">開く</a>
  </p>
  <p>
    マイクなどから収録した音声を、そのままイヤホンなど別のデバイスに流すツールです。イヤホンをしたまま外の音も聞きたい、という場面があったので作りました。ノイズ除去や EQ など基本的な音声処理にも対応したので、簡易的なマイクフィルタとしても使えるかもしれません。勉強も兼ねて PWA に対応し、アプリケーションとしてインストールすることができます。
  </p>
  <p>
    <small>コア技術: 音声処理 (WebAudio), PWA</small>
  </p>

  <div class="header">受肉実験。 <small>(2021)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/instant-reincarnation/" target="_blank">開く</a>
  </p>
  <p>
    Web カメラで表情や姿勢を読み取って、MMD や VRoid の 3D モデルを連動させる実験です。「ブラウザだけでお手軽 VTuber」的なものを作りたかったので、あえて動きに制約をつけて、ちょっと 2D っぽく動くようになっています。技術検証ができたところで満足してしまったので、 UI などはちゃんと作られていません。
  </p>
  <p>
    <small>コア技術: 機械学習 (Kalidokit), 3Dグラフィック (Three.js, MMD, VRoid)</small>
  </p>

  <div class="header">ネガポジスライサー <small>(2020)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/negaposi-slicer/" target="_blank">開く</a>
  </p>
  <p>
    画像を明度領域でスライスして、複数の単純モノクロ（２値）画像に分解できるツールです。基板アートをやりたい時に便利です。
  </p>
  <p>
    <small>コア技術: 画像処理 (Canvas)</small>
  </p>

  <div class="header">slack_inviter <small>(2018)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/slack_inviter" target="_blank">GitHub</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/8f15324c366ff749786a" target="_blank">技術解説</a>
  </p>
  <p>
    Slack の招待リンクを作るツールです (当時はまだ公式の機能がありませんでした)。大学 OB Slack の運営に使いたくて作りました。運用にコストをかけたくなかったので、 Google Apps Script で完結するようになっています。
  </p>
  <p>
    <small>コア技術: Slack API, Google Apps Script</small>
  </p>

  <div class="header">OLED Designer <small>(2018)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/oled-designer/" target="_blank">開く</a>
  </p>
  <p>
    「Helix」系自作キーボード向けのドット絵エディタです。表示したい画像をポチポチ描くと、その画像を表示するための C プログラムが生成されます。生成されたプログラムを読み戻して編集することもできます。
  </p>

  <div class="header">YouTubeサイドバーメーカー <small>(2007)</small></div>
  <p>
    （現在は削除）
  </p>
  <p>
    YouTube の動画をブログの片隅に設置できる、いわゆる「ブログパーツ」ジェネレータです。いくつかの雑誌や、<a class="link" href="https://forest.watch.impress.co.jp/article/2007/09/14/youtubesbmaker.html" target="_blank">窓の杜NEWS</a>などに掲載されました。
  </p>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/works/">&lt; 戻る</a>
</p>
