---
title: "zk-phi の部屋 :: 主な公開物"
permalink: /works/services/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🏛</span>主な公開物<span class="rot">🏛️</span>
</h1>

<p>
  これまでに公開した主なツール・サービスたちです。
</p>

<hr class="hr" />

<div class="left">

  <div class="header">📌 MEGAMOJI <small>(2017)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/MEGAMOJI/" target="_blank">開く</a>
  </p>
  <p>
    各種チャットツールでの使用を想定した、カスタム絵文字作成ツールです。画像を用意しなくてもテキストから簡単に絵文字を作れるほか、派手なアニメーションを簡単につけることもできます。<a class="link" href="https://qiita.com/zk_phi/items/8a24b8ad9d1eabd364aa" target="_blank">Qiita記事</a>の小バズからじわじわユーザーが増え続け、2023/02 時点で MAU 1.7万人を達成。
  </p>
  <p>
    <small>コア技術: 2Dグラフィック, SVG操作, シェーダ芸, GIFエンコード, Web Workers</small>
  </p>

  <div class="header">📌 HRTFy <small>(2022)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/HRTF/" target="_blank">開く</a>
  </p>
  <p>
    ブラウザ上で立体音響を制作できるツールです。TRPG のオンラインセッションなどで、効果音の演出に使うことを想定しました。手持ちの音声素材ですぐに遊べます。
  </p>
  <p>
    <small>コア技術: 音声処理 (HRTF), 3Dグラフィック</small>
  </p>

  <div class="header">📌 sky-color-clock.el <small>(2017)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/sky-color-clock" target="_blank">GitHub</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/11a419911db861b9211e" target="_blank">技術解説</a>
  </p>
  <p>
    今の時刻を「空の色」として視覚的に感じることのできる時計ウィジェットです。仕事中でも「空が夕焼けてきたなあ」といった""エモ""を感じられるようにと思い作りました。任意で Openweathermap から現在の天気を取得して、曇り度合いなども反映できます。Emacs 上で動作しますが、有志の方が<a class="link" href="https://github.com/opengl-8080/little-sky" target="_blank">デスクトップアプリ版</a>, <a class="link" href="https://github.com/mopp/sky-color-clock.vim" target="_blank">Vim版</a>, <a class="link" href="https://marketplace.visualstudio.com/items?itemName=sumomoneko.sky-color" target="_blank">VSCode版</a>などの派生版も作ってくださっています。
  </p>
  <p>
    <small>コア技術: 簡易的な天体計算, Openweathermap API</small>
  </p>

  <div class="header">📌 いい感じの初手率計算機 <small>(2021)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/handanalyze/" target="_blank">開く</a>
  </p>
  <p>
    カードゲームのデッキ構築支援ツールです。カードの投入枚数が手札にどう影響するかを直感的に把握できます。内部的には、枝刈りしながら DFS で考えられる手札のパターンを列挙、それぞれの場合の数を計算します。
  </p>
  <p>
    <small>コア技術: 深さ優先探索＋枝刈り</small>
  </p>

  <div class="header">📌 YouTubeサイドプレイヤー <small>(2007)</small></div>
  <p>
    （現在は削除）
  </p>
  <p>
    デスクトップの片隅で YouTube 動画を連続再生しておける Windows 用ソフトです。今となっては当たり前の機能という感じですが、当時はまだ YouTube が流行り始めた頃で、 Picture-in-picture も連続再生機能も公式には存在しませんでした。いくつかの雑誌に掲載されました。
  </p>

  <div class="header">外音取込君 <small>(2021)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/gaionkun/" target="_blank">開く</a>
  </p>
  <p>
    マイクなどの音声入力を、そのままイヤホンなど別のデバイスに流すツールです（いわゆる仮想ケーブル）。イヤホンをしたまま外の音も聞きたい、という場面があったので作ってみました。ノイズ除去や EQ など基本的な音声処理にも対応したので、簡易的なマイクフィルタとしても使えるかもしれません。
  </p>
  <p>
    <small>コア技術: 音声処理/IO, PWA</small>
  </p>

  <div class="header">受肉実験。 <small>(2021)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/instant-reincarnation/" target="_blank">開く</a>
  </p>
  <p>
    Web カメラで表情や姿勢を読み取って、MMD や VRoid の 3D モデルを連動させる実験です。「ブラウザだけでお手軽 VTuber」的なものを作りたかったので、あえて動きに制約をつけて、ちょっと 2D っぽく動くようになっています。技術検証ができたところで満足してしまったので、 UI などはちゃんと作られていません。
  </p>
  <p>
    <small>コア技術: 機械学習, 3Dグラフィック</small>
  </p>

  <div class="header">ネガポジスライサー <small>(2020)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/negaposi-slicer/" target="_blank">開く</a>
  </p>
  <p>
    画像を明度でスライスして、複数の単純モノクロ（２値）画像に分解するツールです。基板アートをやりたい時に便利です。
  </p>
  <p>
    <small>コア技術: 画像処理</small>
  </p>

  <div class="header">背景抜き太郎 <small>(2018)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/kusocolla-republic/" target="_blank">開く</a>
  </p>
  <p>
    デザイナーさんが爆速でタイムリーなクソコラを上げてくるのが羨ましくて、背景をサクッと抜くツールを自前で書いてみました。マウスでざっくりとしたヒントを与えて「やっていく」ボタンを押すと動きます。実装しやすそうだったので GrowCut アルゴリズムを使いました。
  </p>
  <p>
    <small>コア技術: 画像処理 (GrowCut), Web Workers</small>
  </p>

  <div class="header">slack_inviter <small>(2018)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/slack_inviter" target="_blank">GitHub</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/8f15324c366ff749786a" target="_blank">技術解説</a>
  </p>
  <p>
    Slack の招待リンクを作るツールです。公式に招待リンク機能が実装されるまで、大学 OB Slack の運営に使っていました。生成した招待リンクは Google Apps Script で管理され、同じリンクは１度しか使えないようになっています。
  </p>
  <p>
    <small>コア技術: Slack API, Google Apps Script</small>
  </p>

  <div class="header">OLED Designer <small>(2018)</small></div>
  <p>
    <a class="link" href="https://zk-phi.github.io/oled-designer/" target="_blank">開く</a>
  </p>
  <p>
    「Helix」系自作キーボード向けのドット絵エディタです。ディスプレイに表示したい画像をポチポチ描くと、その画像を表示するための C プログラムが生成されます。逆に生成されたプログラムを読み込んで編集することもできます。
  </p>

  <div class="header">YouTubeサイドバーメーカー <small>(2007)</small></div>
  <p>
    （現在は削除）
  </p>
  <p>
    YouTube の動画をブログの片隅に設置できる、いわゆる「ブログパーツ」ジェネレータです。いくつかの雑誌や、<a class="link" href="https://forest.watch.impress.co.jp/article/2007/09/14/youtubesbmaker.html" target="_blank">窓の杜NEWS</a>などに掲載されました。
  </p>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/works/">&lt; 戻る</a>
</p>
