---
title: "zk-phi の部屋 :: 主な公開物"
permalink: /works/tools/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🏛</span>主な公開物<span class="rot">🏛️</span>
</h1>

<p>
  主な自作の商売道具たちです。
</p>

<hr class="hr" />

<div class="left">

  <div class="header">📌 "3D" キーキャップセット <small>(2019)</small></div>
  <p>
    <a class="link" href="https://make.dmm.com/item/1009976/" target="_blank">DMM.make</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/5680607118516413a0ba" target="_blank">解説＆説明書</a>
  </p>
  <p>
    手持ちのキーボードをエルゴノミックキーボードに進化させることのできる、特殊形状のキーキャップセットです。 DMM.make さんでいつでも 3D プリントできるほか、<a class="link" href="https://shop.dailycraft.jp/products/3dkeycaps_claw44" target="_blank">Daily Craft Keyboard</a>さんでも在庫してくださっています（2023/02 現在）。せっかくだから自作ならではのものを作ろう、という裏テーマがあります（キーの形状がひとつひとつ異なるので、金型のコストが高い＝大量生産のハードルが高い？）。
  </p>
  <p>
    <small>コア技術: 3DCAD</small>
  </p>

  <div class="header">📌 company-symbol-after-symbol.el <small>(2021)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/company-symbol-after-symbol" target="_blank">GitHub</a>
  </p>
  <p>
    単語間の共起関係（n-gram）を使った補完エンジンです。「『Looks good to』とくれば次は『me』だろう」のように、直前の単語列から次に入力したいであろう単語を推測し、先回りして提案します。キャッシュにパトリシア木をネストした謎のデータ構造を用いて、補完候補が増えても高速に動作します。
  </p>
  <p>
    <small>コア技術: n-gram, パトリシア木</small>
  </p>

  <div class="header">📌 git-complete.el <small>(2016)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/git-complete" target="_blank">GitHub</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/642b1e7dd12b44ea83ce" target="_blank">技術解説</a>
  </p>
  <p>
    Git を利用した補完エンジンです。プログラムを途中まで書いて呼び出すと、同じリポジトリの中からそれらしいコード片を探してきて続きを勝手に書きます。似たコードを何度も書く場合に便利です。トライ木を下敷きにした独自アルゴリズムで補完候補を選定します。上の「company-symbol-after-symbol.el」より遅い代わりに、より大胆な補完ができます。
  </p>
  <p>
    <small>コア技術: Git, 共通部分列の抽出, ヒューリスティック</small>
  </p>

  <div class="header">📌 company-same-mode-buffers.el <small>(2020)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/company-same-mode-buffers" target="_blank">GitHub</a>
  </p>
  <p>
    シンプルで予測可能な補完エンジンです。入力中の単語の続きを、同じファイル、または同じ言語の別ファイルから引いてきます。キャッシュにパトリシア木を使用し、補完候補が増えても高速に動作します。あいまいマッチにも対応しているほか、「厳格マッチに失敗したらあいまいマッチにフォールバックする」などの dwim な挙動も設定できます。
  </p>
  <p>
    <small>コア技術: パトリシア木, あいまい検索</small>
  </p>

  <div class="header">📌 Gemini keyboard <small>(2019)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/gemini-keyboard" target="_blank">GitHub</a>
  </p>
  <p>
    縦にも横にもズレた、独特な配列を採用した分割キーボードです。エルゴノミックでありながら、一般的なキーボードで身についたタイピングの癖もそのまま活かせるデザインを目指して発明しました（自作するからには、デバイス側が人間様の癖に合わせるべきという思想があります）。すべてのキーにホームポジション＋１でアクセスできるので、慣れると手を一切移動せずに全ての仕事ができます。アイデア自体はシンプルに見えますが、そこそこの数を設計してきてやっと辿り着いた配列で、分割エルゴノミックキーボードの一つのゴールだと感じています。
  </p>
  <p>
    <small>コア技術: 基板設計 (電子回路, 基板CAD), 3DCAD, 組み込み</small>
  </p>

  <div class="header">📌 Equilibrium keyboard <small>(2020)</small></div>
  <p>
    <a class="link" href="https://zk-phi.booth.pm/items/1999216" target="_blank">BOOTH</a>,
    <a class="link" href="https://github.com/zk-phi/equilibrium-keyboard" target="_blank">GitHub</a>
  </p>
  <p>
    LED を最大限活かすデザインと、シンプルながら均整の取れたレイアウトが特徴の、超コンパクトな一体型自作キーボードです。エルゴノミクスというよりは、ビジュアルや打鍵感・音などを重視した設計になっています。
  </p>
  <p>
    <small>コア技術: 基板設計 (電子回路, 基板CAD), 3DCAD, 組み込み</small>
  </p>

  <div class="header">📌 Composition keyboard <small>(2020)</small></div>
  <p>
    <a class="link" href="https://zk-phi.booth.pm/items/2279247" target="_blank">BOOTH</a>,
    <a class="link" href="https://github.com/zk-phi/composition-keyboard" target="_blank">GitHub</a>
  </p>
  <p>
    可愛さを重視した、激薄・コンパクトな直行配列自作キーボードキットです。 Choc V2 と呼ばれる特殊なスイッチを採用し、通常の MX （互換）スイッチでは実現できない激薄設計になっています。
  </p>
  <p>
    <small>コア技術: 基板設計, 筐体設計, 組み込み</small>
  </p>

  <div class="header">📌 sublimity.el <small>(2013)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/sublimity" target="_blank">GitHub</a>
  </p>
  <p>
    Emacs のスクロールをなめらかにするプラグインです。スクロールする過程をアニメーションで表示することで、何が起こったかをわかりやすくし、カーソルを見失いづらくします。おまけで、 UI 部品を整理したり、ミニマップを表示したり、 Emacs の UI を現代的にする諸機能もついています。
  </p>

  <div class="header">📌 indent-guide.el <small>(2013)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/indent-guide" target="_blank">GitHub</a>
  </p>
  <p>
    インデントに合わせて縦線を表示する Emacs プラグインです。簡易的な構文解析を行い、インデント幅が一定ではない言語（Lisp 系など）にも対応します。 Emacs プラグインの非公式リポジトリ MELPA にて 80万 DL を達成 (2023/02 現在)。
  </p>
  <p>
    <small>コア技術: 簡易的な構文解析</small>
  </p>

  <div class="header">📌 magic-latex-buffer.el <small>(2014)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/magic-latex-buffer" target="_blank">GitHub</a>
  </p>
  <p>
    LaTeX の文章を WYSIWYG で書けるようにしようとした、狂気の Emacs プラグインです。シンタックスハイライトと文字合成の仕組みを悪用しています。
  </p>
  <p>
    <small>コア技術: 簡易的な構文解析, 文字合成</small>
  </p>

  <div class="header">📌 togetherly.el <small>(2015)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/togetherly" target="_blank">GitHub</a>
  </p>
  <p>
    Google Docs のようなリアルタイム共同編集を Emacs 上で行えるようにするプラグインです。独自のプロトコルで Emacs 同士を直接接続し、カーソルの位置や編集内容を同期します。ゼミで使うために作りました。暗号化していないので、機密文書をインターネット越しに共有するのは非推奨です。
  </p>
  <p>
    <small>コア技術: ソケット通信</small>
  </p>

  <div class="header">📌 phi-grep.el <small>(2014)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/phi-grep" target="_blank">GitHub</a>
  </p>
  <p>
    grep 結果をそのまま編集し、各ファイルに書き戻せる Emacs プラグインです。ファイルを跨いだ一括置換など、リファクタ作業に便利です。検索部分も Emacs Lisp で実装されているため、 grep コマンドの存在しない環境 (当時の Windows など) でも動作し、 Emacs 特有の正規表現にも対応しています。
  </p>

  <div class="header">📌 EWOW <small>(2013)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/ewow" target="_blank">GitHub</a>
  </p>
  <p>
    キー入力をジャックして、あらゆるアプリケーションで Emacs コマンドを使えるようにしてしまう Windows 向けツールです。マクロ機能なども含め大部分のコマンドが移植されており普通にかなり便利ですが、 Mac に乗り換えてしまったため現在は使っていません。本家 Emacs になぞらえた設計（hook ベース）になっており、 Emacs ユーザーであれば比較的簡単にコマンドやプラグインを追加できます。 <a class="link" href="https://github.com/zk-phi/ewow-evil" target="_blank">Vim のノーマルモードを再現するプラグイン</a>などもあるので Vim 派の方もぜひ。
  </p>

  <div class="header">nasucode <small>(2024)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/nasucode" target="_blank">GitHub</a>
  </p>
  <p>
    Source Code Pro に NasuM と Nerd Font を合成したコーディング向けフォントです。
  </p>
  <p>
    <small>コア技術: フォント編集</small>
  </p>

  <div class="header">shackle-pop.el <small>(2024)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/shackle-pop" target="_blank">GitHub</a>
  </p>
  <p>
    コンパイルの結果、各種ドキュメント、等々のポップアップウィンドウをいい感じに扱えるようにする Emacs プラグインです。 popwin.el の動作がしばしば不安定に感じられたので、その代用として、 shackle.el を拡張する形で実装しました。
  </p>

  <div class="header">機械彫刻用標準文字code <small>(2018)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/code8903" target="_blank">GitHub</a>
  </p>
  <p>
    「機械彫刻用標準文字」の可愛さに惚れて作った、コーディング向け合成フォントです。等幅化した上で、足りない漢字を「RoundedM+」から合成します。スタイルセットの切り替えや、「ゼロの中央に点を打つ」などのコーディングフォントにありがちな加工に加えて、個人的な趣味で「略字少なめ丸ゴシックR」から略字を拝借してくることもできます。※権利周りの懸念から、公開しているのは生成スクリプトのみです。
  </p>
  <p>
    <small>コア技術: フォント編集</small>
  </p>

  <div class="header">NasiA <small>(2019)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/NasiA" target="_blank">GitHub</a>
  </p>
  <p>
    「iAWriter Mono」をベースにしたコーディング向け合成フォントです。足りない文字は「NasuM」から合成します。視認性が高いわりに見た目は落ち着いていて実用的です。今はこれをメインに使っています。※権利周りの懸念から、公開しているのは生成スクリプトのみです。
  </p>
  <p>
    <small>コア技術: フォント編集</small>
  </p>

  <div class="header">Kastor keyboard <small>(2019)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/kastor-keyboard" target="_blank">GitHub</a>
  </p>
  <p>
    「C〜Mキーを親指で押す」という尖ったアイデアに基づいた、きわめてコンパクトな分割キーボードキットです。ケース内部の空洞をなるべく減らすことで打鍵音を改善するなど、当時としては斬新なアイデアを盛り込んでいました（後に界隈では一般的なテクニックとなりました）。表裏で配列が異なる、珍しいタイプのリバーシブル基板になっており、製造コストも抑えています。
  </p>
  <p>
    <small>コア技術: 基板設計, 筐体設計, 組み込み</small>
  </p>

  <div class="header">git-context-switch <small>(2017)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/git-context-switch" target="_blank">GitHub</a>,
    <a class="link" href="https://qiita.com/zk_phi/items/656733c9eecf83ab9a4c" target="_blank">技術解説</a>
  </p>
  <p>
    Git のブランチや stash を、「コンテキスト」と呼ぶ仮想的なディレクトリで管理できる Git 拡張です。 Git の内部オブジェクトをゴリゴリ操作するハック的な実装になっていて、技術的に面白いと思います。
  </p>
  <p>
    <small>コア技術: Git</small>
  </p>

  <div class="header">cssdebug <small>(2018)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/cssdebug" target="_blank">GitHub</a>
  </p>
  <p>
    Web ページ上で実行すると、要素のマージンやパディングが可視化されたり、要素と要素の間の実距離が計測できたりするブックマークレットです。 CSS の微妙なズレなどをデバッグするのに便利です。
  </p>

  <div class="header">symon.el <small>(2015)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/symon" target="_blank">GitHub</a>
  </p>
  <p>
    Emacs 上で動作するグラフィカルなシステムモニタです。Emacs 上でちょっとしたグラフィックを動かす実験として作りました。画像データをその場でメモリ上に生成しながら表示しています。 Emacs プラグインの非公式リポジトリ MELPA にて 30万 DL を達成 (2023/02 現在)。
  </p>

  <div class="header">jaword.el <small>(2014)</small></div>
  <p>
    <a class="link" href="https://github.com/zk-phi/jaword" target="_blank">GitHub</a>
  </p>
  <p>
    日本語文書でも単語単位の移動コマンド (M-f, M-b) を使えるようにする Emacs プラグインです。裏で簡易的な形態素解析を行います。
  </p>
  <p>
    <small>コア技術: 簡易的な形態素解析</small>
  </p>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/works/">&lt; 戻る</a>
</p>
