---
pagination:
  data: activityTags
  size: 1
  alias: tag
title: "zk-phi の部屋 :: 最近の活動"
permalink: /activities/{{ activityTagUrls[tag] }}/index.html
layout: common.njk
inlineStyles:
  - css/activities.css
---

<h1 id="title">
  <span class="rot">💻</span>最近の活動<span class="rot">💻</span>
</h1>

<p>
  直近１年の間に公開したフリーソフト・文書などをまとめました。
</p>

{% if tag !== "" %}
<p>
  カテゴリ：
  <a class="link activity-tag" href="/activities/{{ activityTagUrls[tag] }}/">
    {{- tag -}}
  </a>
</p>
{% endif %}

<hr />

<p>
  <a class="link" href="/{{ "activities/" if tag !=="" }}">&lt; 戻る</a>
</p>

{% for m in recentActivities | filterActivities(tag) | groupActivityByMonth %}
<div class="left">
  <h2 class="header">
    <span class="puni">{{ monthEmoji[m.month] }}</span>
    {{- m.month + 1 }}月<small>/{{ m.year }}</small>
  </h2>
  <ul class="list">
    {% for i in m.items %}
    <li class="item activity">
      <div class="activity-meta">
        <a class="link activity-tag" href="/activities/{{ activityTagUrls[i.category] }}/">
          {{- i.category -}}
        </a>
        {{- i.source -}}
      </div>
      <a class="link" href="/activities/items/{{ i | activitySlug }}/">
        {{ i.title | safe }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

<hr />

<p>
  <a class="link" href="/{{ "activities/" if tag !=="" }}">&lt; 戻る</a>
</p>
