@keyframes rotate {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0, 1);
  }
  50% {
    transform: scale(-1, 1);
  }
  75% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes puni {
  0% {
    transform: scale(1, 1) rotate(5deg);
  }
  12.5% {
    transform: scale(0.9, 1.1) rotate(10deg);
  }
  25% {
    transform: scale(1, 1) rotate(5deg);
  }
  37.5% {
    transform: scale(1.1, 0.9) rotate(0deg);
  }
  50% {
    transform: scale(1, 1) rotate(-5deg);
  }
  62.5% {
    transform: scale(0.9, 1.1) rotate(-10deg);
  }
  75% {
    transform: scale(1, 1) rotate(-5deg);
  }
  87.5% {
    transform: scale(1.1, 0.9) rotate(0);
  }
  100% {
    transform: scale(1, 1) rotate(5deg);
  }
}

.emoji {
  display: inline-block;
}

.emoji.rotate {
  animation: rotate 5s linear infinite;
}

.emoji.puni {
  animation: puni 1.5s linear infinite;
}
