.body {
  text-align: center;
  color: var(--fg);
  background-color: var(--bg);
  font-size: 16px;
  line-height: 24px;
  margin: 16px;
  background-image: var(--bgImg);
  background-size: var(--bgImgSize);
  background-position: var(--bgImgPos);
}

.content {
  max-width: 640px;
  margin: auto;
}

.content > * {
  margin: 16px 0;
}
