@keyframes rainbow {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.link, .link:visited {
  color: var(--link);
  font-style: italic;
  border: 1px solid transparent;
}

.link:hover, .link:focus {
  color: var(--bg);
  font-style: italic;
  background: linear-gradient(
    to right,
    var(--accent1) 0,
    var(--accent2) 50%,
    var(--accent1) 100%
  );
  background-size: 1000px 1px;
  animation: rainbow 4s linear infinite;
}

.link:focus, .link:active {
  outline: dotted 1px #555; /* replace chrome outline with win95-ish dotted line */
}
