@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.new {
  font-style: italic;
  animation: blink 1s linear infinite;
  color: #f00;
}
