@keyframes blink {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

.new {
  font-style: italic;
  animation: blink 1s linear infinite;
  color: #f00;
}
