:root {
  --fg: #444;
  --muted: #666;
  --bg: #fff;
  --accent1: #88f;
  --accent2: #f8f;
  --link: #55f;
  --bgImg:
    linear-gradient(30deg, #eff 12%, transparent 12.1%, transparent 87%, #eff 87.1%, #eff),
    linear-gradient(150deg, #eff 12%, transparent 12.1%, transparent 87%, #eff 87.1%, #eff),
    linear-gradient(30deg, #eff 12%, transparent 12.1%, transparent 87%, #eff 87.1%, #eff),
    linear-gradient(150deg, #eff 12%, transparent 12.1%, transparent 87%, #eff 87.1%, #eff),
    linear-gradient(60deg, #eef 25%, transparent 25.1%, transparent 75%, #eef 75%, #eef),
    linear-gradient(60deg, #eef 25%, transparent 25.1%, transparent 75%, #eef 75%, #eef);
  --bgImgSize: 50px 100px;
  --bgImgPos: 0 0, 0 0, 25px 50px, 25px 50px, 0 0, 25px 50px;
}

#body {
  text-align: center;
  color: var(--fg);
  background-color: var(--bg);
  font-size: 16px;
  line-height: 24px;
  margin: 16px;
  background-image: var(--bgImg);
  background-size: var(--bgImgSize);
  background-position: var(--bgImgPos);
}

#title {
  font-size: 32px;
  line-height: 48px;
  color: var(--accent2);
  text-align: center;
  text-shadow: -4px -4px 0px var(--accent1);
  font-style: italic;
}

.left {
  text-align: left;
}

.section-header {
  font-size: 24px;
  line-height: 36px;
}

.list {
  list-style: none;
  padding: 0;
}

.item + .item {
  margin-top: 8px;
}

#content {
  max-width: 640px;
  margin: auto;
}

#content > * {
  margin: 16px 0;
}

/* ---- yumekawa links */

.link, .link:visited {
  color: var(--link);
  border: 1px solid transparent;
  font-style: italic;
}

/* ---- emoji animations */

.rot {
  display: inline-block;
  margin: 0 8px;
}

.puni {
  display: inline-block;
  margin: 0 8px 0 0;
}
