:root {
  --fg: #444;
  --muted: #666;
  --bg: #fff;
  --accent1: #88f;
  --accent2: #f8f;
  --link: #55f;
  /* --focus: #f5f; */
  /* --active: #f55; */
  --bgImg:
    linear-gradient(30deg, #eff 12%, transparent 12.1%, transparent 87%, #eff 87.1%, #eff),
    linear-gradient(150deg, #eff 12%, transparent 12.1%, transparent 87%, #eff 87.1%, #eff),
    linear-gradient(30deg, #eff 12%, transparent 12.1%, transparent 87%, #eff 87.1%, #eff),
    linear-gradient(150deg, #eff 12%, transparent 12.1%, transparent 87%, #eff 87.1%, #eff),
    linear-gradient(60deg, #eef 25%, transparent 25.1%, transparent 75%, #eef 75%, #eef),
    linear-gradient(60deg, #eef 25%, transparent 25.1%, transparent 75%, #eef 75%, #eef);
  --bgImgSize: 50px 100px;
  --bgImgPos: 0 0, 0 0, 25px 50px, 25px 50px, 0 0, 25px 50px;
}

.body {
  text-align: center;
  color: var(--fg);
  background-color: var(--bg);
  font-size: 16px;
  line-height: 24px;
  margin: 16px;
  background-image: var(--bgImg);
  background-size: var(--bgImgSize);
  background-position: var(--bgImgPos);
}

.title {
  font-size: 32px;
  line-height: 48px;
  color: var(--accent2);
  text-shadow: -4px -4px 0px var(--accent1);
  font-style: italic;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
}

.item + .item {
  margin-top: 8px;
}

#content {
  max-width: 640px;
  margin: auto;
}

#content > * {
  margin: 16px 0;
}

/* ---- yumekawa links */

@keyframes rainbow {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.link, .link:visited {
  color: var(--link);
  font-style: italic;
  border: 1px solid transparent;
}

.link:hover, .link:focus {
  color: var(--bg);
  font-style: italic;
  background: linear-gradient(
    to right,
    var(--accent1) 0,
    var(--accent2) 25%,
    var(--accent1) 50%,
    var(--accent2) 75%,
    var(--accent1) 100%
  );
  background-size: 1000px 1px;
  animation: rainbow 4s linear infinite;
}

.link:focus, .link:active {
  outline: dotted 1px #555; /* replace chrome outline with win95-ish dotted line */
}

/* ---- emoji animations */

@keyframes rotate {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0, 1);
  }
  50% {
    transform: scale(-1, 1);
  }
  75% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes puni {
  0% {
    transform: scale(1, 1) rotate(5deg);
  }
  12.5% {
    transform: scale(0.9, 1.1) rotate(10deg);
  }
  25% {
    transform: scale(1, 1) rotate(5deg);
  }
  37.5% {
    transform: scale(1.1, 0.9) rotate(0deg);
  }
  50% {
    transform: scale(1, 1) rotate(-5deg);
  }
  62.5% {
    transform: scale(0.9, 1.1) rotate(-10deg);
  }
  75% {
    transform: scale(1, 1) rotate(-5deg);
  }
  87.5% {
    transform: scale(1.1, 0.9) rotate(0);
  }
  100% {
    transform: scale(1, 1) rotate(5deg);
  }
}

.rot {
  display: inline-block;
  animation: rotate 5s linear infinite;
}

.puni {
  display: inline-block;
  animation: puni 1.5s linear infinite;
}

/* --- strong texts */

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.new {
  font-style: italic;
  animation: blink 1s linear infinite;
  color: #f00;
}
