/* ---- banners */

.banner {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;
}

.banner + .banner {
  margin-left: 8px;
}

/* ---- classic buttons */

.btn {
  position: relative;
  border: 0;
  font-size: 0.9em;
  padding: 8px;
  color: #333;
  background-color: #c0c0c0;
  line-height: 1;
}

/* --- strong texts */

.new {
  color: #f00;
}
