/* ---- banners */

.banner {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;
}

.banner + .banner {
  margin-left: 8px;
}

/* ---- classic buttons */

.btn {
  position: relative;
  border: 0;
  font-size: 0.9em;
  padding: 8px;
  color: #333;
  background-color: #c0c0c0;
  box-shadow:
    -2px 0 0 0 #fff,
    0 -2px 0 0 #fff,
    -2px -2px 0 0 #fff,
    0 0 0 1px #717171,
    0 0 0 2px #000;
  user-select: none;
  line-height: 1;
}

.btn:focus, .btn:active {
  outline: dotted 1px #555; /* replace chrome outline with win95-ish dotted line */
  outline-offset: -4px;
}

.btn:active {
  color: #333;
  box-shadow: 0 0 0 1px #000;
}

.btn:disabled {
  cursor: not-allowed;
  outline: none;
  color: #eee;
  text-shadow: 1px 0px 0px #fff;
  box-shadow:
    -2px 0 0 0 #eaeaea,
    0 -2px 0 0 #eaeaea,
    -2px -2px 0 0 #eaeaea,
    0 0 0 2px #717171;
}
