.meishi-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#meishi-upside {
  transform: scale(1, 1);
  transition: transform 0.5s ease-out 0.5s;
}

#meishi-downside {
  transform: scale(0, 1);
  transition: transform 0.5s ease-in 0s;
}

.meishi-spacer {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.meishi-btn {
  vertical-align: middle;
  /* clear ua styles */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.meishi-img {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  filter: drop-shadow(10px 10px 10px #000);
}
