---
title: "zk-phi の部屋 :: プロフィール"
permalink: /profile/history/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">💻</span>エンジニア経歴<span class="rot">💻</span>
</h1>

<p>
  ソフトウェアエンジニアとしての経歴。
</p>

<p>
  <a class="link" href="/profile/">&lt; 戻る</a>
</p>

<hr class="hr" />

<div class="left">
  <div class="profile-section">
    <div class="profile-title">小〜中</div>
    <p>小学校の図書室で BASIC に出会う。初めてのホームページを公開。</p>
  </div>
  <div class="profile-section">
    <div class="profile-title">中〜高</div>
    <p>Windows 向けの無料ソフトをいくつか公開。複数の雑誌に載る。</p>
  </div>
  <div class="profile-section">
    <div class="profile-title">大学・院 (情報科)</div>
    <p>チームで競プロのアジア大会に進出。院では新しいパターンマッチング機構を持った GC レス言語を設計。OSS 活動を始める (主に Emacs 界隈で活動)。</p>
  </div>
  <div class="profile-section">
    <div class="profile-title">2016- 現職</div>
    <p>入社当初はサーバーエンジニアとして toC ネイティブアプリの API 開発 (Perl/Mojolicious) を担当。のちに、ベストエフォートでメンテされていた toB 向け管理画面の運用 (TypeScript/React) も手伝うようになり、 (技術的、デザイン的、組織的) 負債返済のためのテコ入れプロジェクトを立ち上げ。ユーザーインタビュー、ターゲット像の再定義、デザインシステムの作り直しなど上流から関わり、現在はこちらがメイン。趣味開発・ OSS 活動の領域もやや Web 寄りに。同人ハードにも手を出し始める。
  </div>
</div>

<hr class="hr" />

<p>
  <a class="link" href="/profile/">&lt; 戻る</a>
</p>
