---
title: "zk-phi の部屋 :: プロフィール"
permalink: /profile/history/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🕺</span>プロフィール<span class="rot">🕺</span>
</h1>

<p>
  ソフトウェアエンジニアとしての経歴。
</p>

<hr class="hr" />

<div class="left">

  <div class="header">小〜中</div>
  <p>小学校の図書室で BASIC に出会う。初めてのホームページを公開。</p>

  <div class="header">中〜高</div>
  <p>Windows 向けの無料ソフトをいくつか公開。複数の雑誌に載る。</p>

  <div class="header">大学・院 (情報科)</div>
  <p>数学、アルゴリズム、言語設計など主に基礎分野に興味を持つ。チームで競技プログラミングのアジア大会に進出。研究室では新しいパターンマッチング機構を持った GC レス言語を設計。</p>
  <p>趣味開発では主に Emacs 界隈で OSS 活動を開始。GitHub 上の被 Star 数で<a class="link" href="https://github.com/suguru03/made-in-japan/blob/3fd9a5f734fd5d5c2717fdba133c68a6b820810e/docs/rankers.md" target="_blank">国内 TOP200 入り</a>。</p>

  <div class="header">2016- 現職 (新卒)</div>
  <p>サーバーエンジニアとして入社、 BtoBtoC サービスの toC 向けアプリ API を担当。</p>
  <p>その後 toB 向けの管理画面の運用も手伝うようになり、「サーバーの人がベストエフォートでメンテする」という当時の体制に限界を感じる。その後デザイナと共謀して「負債 (技術的、デザイン的、組織的) 返済のためのテコ入れプロジェクト」立ち上げを交渉。デザイナ・ディレクタ各１名との計３人体制で、ユーザーインタビュー、ターゲット像や戦略の再定義、デザインシステムの立ち上げ、ユーザー向けマニュアルの更新体制立て直しなど、プログラミングに限らず必要な施策をリード。実装面ではフロントエンドとサーバーサイドの両方を担当。</p>
  <p>現在は社内向けツールの刷新プロジェクトに移動し、他チームとの調整、 UI の検討等、引き続きプログラミングに限らずやるべきことをやっている。</p>
  <p>趣味開発・ OSS 活動の領域もやや Web 寄りに。代表作としては、簡単に派手なカスタム絵文字を作成できるツール <a href="https://zk-phi.github.io/MEGAMOJI/" target="_blank">MEGAMOJI</a>（2023/10 月時点で MAU 約３万人を達成）など。同人ハードウェアの回路・筐体設計等にも手を出し始める。</p>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/profile/">&lt; 戻る</a>
</p>
