---
title: "zk-phi の部屋 :: プロフィール"
permalink: /profile/history/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">💻</span>エンジニア経歴<span class="rot">💻</span>
</h1>

<p>
  ソフトウェアエンジニアとしての経歴。
</p>

<p>
  <a class="link" href="/profile/">&lt; 戻る</a>
</p>

<hr class="hr" />

<div class="left">

  <div class="header">小〜中</div>
  <p>小学校の図書室で BASIC に出会う。初めてのホームページを公開。</p>

  <div class="header">中〜高</div>
  <p>Windows 向けの無料ソフトをいくつか公開。複数の雑誌に載る。</p>

  <div class="header">大学・院 (情報科)</div>
  <p>数学、アルゴリズム、言語設計など主に基礎分野に興味を持つ。チームで競プロのアジア大会に進出。研究室では新しいパターンマッチング機構を持った GC レス言語を設計。</p>
  <p>趣味開発では主に Emacs 界隈で OSS 活動を開始。</p>

  <div class="header">2016- 現職 (新卒)</div>
  <p>サーバーサイドエンジニアとして入社、 toC ネイティブアプリの API 開発を担当。</p>
  <p>のちに toB 向け管理画面 (フロントエンド) の運用も手伝うようになり、「サーバーの人がベストエフォートでメンテする」という運用体制に限界を感じる。デザイナと共謀して「負債 (技術的、デザイン的、組織的) 返済のためのテコ入れプロジェクト」立ち上げを交渉、チームとして独立。デザイナ・ディレクタ各１名との計３人体制で、ユーザーインタビュー、ターゲット像や戦略の再定義、デザインシステムの立ち上げ、ユーザー向けマニュアルの更新体制立て直しなど、プログラミングに限らず必要なことを行った。現在はリーダーを外れて、再びエンジニアとして引き続き管理画面の運用を担当。</p>
  <p>趣味開発・ OSS 活動の領域もやや Web 寄りに。同人ハードにも手を出し始める。</p>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/profile/">&lt; 戻る</a>
</p>
