---
title: "zk-phi の部屋 :: プロフィール"
permalink: /profile/oss/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🕺</span>プロフィール<span class="rot">🕺</span>
</h1>

<p>
  オープンソース(ソフト|ハード)ウェア活動。
</p>

<p>
  <a class="link" href="/profile/">&lt; 戻る</a>
</p>

<hr class="hr" />

<div class="left">

  <ul class="list">
    <li class="item">
      <a class="link" target="_blank" rel="noreferrer" href="https://github.com/zk-phi?tab=repositories&q=&type=source">
        公開している OSS/OSHW
      </a>
    </li>
    <li class="item">
      <a class="link" target="_blank" rel="noreferrer" href="https://github.com/search?q=is%3Apr+author%3Azk-phi+-user%3Azk-phi">
        GitHub 上のコントリビューション
      </a>
    </li>
    <li class="item">
      <a class="link" target="_blank" rel="noreferrer" href="https://www.gnu.org/software/emacs/">
        GNU Emacs
      </a>
    </li>
  </ul>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/profile/">&lt; 戻る</a>
</p>
