---
title: "zk-phi の部屋 :: おまけコーナー"
permalink: /DDM9/index.html
noindex: true
layout: common.njk
---

<h1 id="title">
  <span class="rot">🎉</span>おまけコーナー<span class="rot">🎉</span>
</h1>

<p>
  ほんもののおまけコーナーです。
</p>

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>

<hr />

<div class="left">
  <h2 class="header">
    <span class="puni">🐱</span>おみやげ
  </h2>
  <ul class="list">
    <li class="item">
      <a class="link" href="/meishi">謎付き基板名刺</a>
      <p>
        趣味用の名刺を電子基板で作ってみました。<br />
        スイッチなどを取り付けるとマクロパッドとしてちゃんと使えます。<br />
        ちょっとした謎が仕込んであるので、解いてくださった方には今度お会いしたとき実物をプレゼントします (在庫切れの場合は先着でゴメンなさいmm)。
      </p>
    </li>
  </ul>
</div>

<hr />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
