---
title: "zk-phi の部屋 :: おまけコーナー"
permalink: /DDM9/index.html
noindex: true
layout: common.njk
---

<h1 id="title">
  <span class="rot">🎉</span>おまけコーナー<span class="rot">🎉</span>
</h1>

<p>
  おまけコーナーです。
</p>

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>

<hr class="hr" />

<div class="left">

  <div class="header"><span class="puni">🐱</span>おみやげ</div>
  <ul class="list">
    <li class="item">
      <a class="link" href="/meishi">名刺兼ミニキーボード基板</a>
      <p>
        趣味用の名刺を電子基板で作ってみました。<br />
        スイッチなどを取り付けるとミニキーボードとしてちゃんと使えます。<br />
        ここにもちょっとした謎が仕込んであるので、解いてくださった方には今度お会いしたとき実物をお渡しします (在庫切れの場合は先着でゴメンなさいmm)。<br />
        好きなショートカットを仕込めるので、メディアコントローラーや、 Web 会議のミュートボタンなどにどうぞ。
      </p>
    </li>
  </ul>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
