---
title: "zk-phi の部屋 :: その他"
permalink: /etc/index.html
layout: common.njk
links:
  - header: すぐ遊べるもの
    items:
      - title: <small>カスタム絵文字メーカー・</small>MEGAMOJI
        href: http://zk-phi.github.io/MEGAMOJI/
      - title: THE TRANCE VIBRATOR RESUSCITATOR (PC のみ)
        href: https://zk-phi.github.io/trance-vibrator-resuscitator/
      - title: <small>立体音響素材作成ツール・</small>HRTFy
        href: https://zk-phi.github.io/HRTF/
      - title: いい感じの初手率計算機
        href: https://zk-phi.github.io/handanalyze/
      - title: 外音取込君
        href: https://zk-phi.github.io/gaionkun/
      - title: 早押しクイズ検定 (PC のみ)
        href: /etc/quiz/
        sameorigin: true
      - title: シェーダー芸
        href: http://zk-phi.github.io/shader-gallery/
      - title: 受肉実験。
        href: http://zk-phi.github.io/instant-reincarnation/
      - title: リンクせず
        href: https://zk-phi.github.io/nolink/
      - title: ネガポジスライサー
        href: https://zk-phi.github.io/negaposi-slicer/
      - title: <small>クソコラ支援・</small>背景抜き太郎
        href: https://zk-phi.github.io/kusocolla-republic/
      - title: クソデカ画像生成侍
        href: https://zk-phi.github.io/KUSODEKAIMG/
      - title: webp 変換君
        href: https://zk-phi.github.io/webpkun/
      - title: webm 変換君
        href: https://zk-phi.github.io/webmkun/
      - title: OLED Designer for Helix-like keybords
        href: https://zk-phi.github.io/oled-designer/
      - title: purupuru
        href: https://zk-phi.github.io/purupuru/
---

<h1 id="title">
  <span class="rot">🍺</span>その他<span class="rot">🍺</span>
</h1>

<p>
  その他の活動・公開物です。
</p>

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>

<hr class="hr" />

{% for category in links %}
<h2><span class="puni">🌟</span>{{ category.header }}</h2>
<ul class="list">
  {% for item in category.items %}
  <li class="item">
    <a class="link"
       {% if not item.sameorigin %}target="_blank" rel="noreferrer"{% endif %}
       href="{{ item.href }}">
      {{- item.title | safe -}}
    </a>
    {{- item.icon | safe }}
  </li>
  {% endfor %}
</ul>
{% endfor %}

<hr class="hr" />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
