---
title: "zk-phi の部屋 :: リンク集"
permalink: /links/index.html
layout: common.njk
inlineStyles:
  - css/links.css

links:
  - header: 製作物
    items:
      - title: ソフト、ハード、フォントなど (GitHub)
        href: https://github.com/zk-phi
      - title: 回路・基板設計 (CADLAB)
        href: https://cadlab.io/zk-phi
      - title: 技術書 (Zenn)
        href: https://zenn.dev/zk_phi
      - title: 発表スライド (Speakerdeck)
        href: https://speakerdeck.com/zk_phi
      - title: 音楽 (Soundcloud)
        href: https://soundcloud.com/zk_phi
      - title: 動画 (YouTube)
        href: https://www.youtube.com/channel/UC9_g5OIOEDXQsaqV3BkRWcQ
      - title: 動画 (ニコニコ動画)
        href: https://www.nicovideo.jp/mylist/66800354
      - title: 択一クイズ (クイズメーカー)
        href: https://quiz-maker.site/creator/detail/177123803
      - title: 早押しクイズ
        href: /etc/quiz/
        sameorigin: true

  - header: ショップ
    items:
      - title: 同人ハードなど (BOOTH)
        href: https://zk-phi.booth.pm/
      - title: 3D プリント製品 (DMM.make)
        href: https://make.dmm.com/shop/219669/
      - title: その他 (SUZURI)
        href: https://suzuri.jp/zk_phi

  - header: 記事
    items:
      - title: プログラミング関連 (Qiita)
        href: https://qiita.com/zk_phi
      - title: 趣味 (note)
        href: https://note.mu/zk_phi
      - title: 雑感・公開メモ (Scrapbox)
        href: https://scrapbox.io/zkphi/
      - title: 海外フォーラム (Reddit)
        href: https://reddit.com/u/zk_phi
      - title: Blog (JUGEM)
        href: http://hins11.jugem.jp/

  - header: 競プロ・CTF
    items:
      - title: AtCoder
        href: https://atcoder.jp/users/zk_phi
      - title: Aizu Online Judge
        href: http://judge.u-aizu.ac.jp/onlinejudge/user.jsp?id=zk_phi
      - title: Project Euler
        href: https://projecteuler.net/progress=zk_phi
      - title: knsctf (@zk_phi)
        href: https://ksnctf.sweetduet.info/
      - title: picoCTF (@zk_phi)
        href: https://picoctf.org/
      - title: setodaNote CTF
        href: https://ctfexh.setodanote.net/users/492

  - header: その他
    items:
      - title: Twitter
        href: https://twitter.com/zk_phi
      - title: Misskey.io
        href: https://misskey.io/@zk_phi
      - title: ビールログ (Untappd)
        href: https://untappd.com/user/zk_phi
      - title: 映画ログ (Filmarks)
        href: https://filmarks.com/users/zk_phi
      - title: 読書ログ (読書メーター)
        href: https://bookmeter.com/users/143741
      - title: ボドゲレビュー (ボドゲーマ)
        href: https://bodoge.hoobby.net/friends/91063
      - title: タイムアタック (Speedrun.com)
        href: https://www.speedrun.com/user/zk_phi
      - title: シェーダー芸の勉強ログ
        href: http://zk-phi.github.io/shader-gallery/
      - title: mixi
        icon: <strong class="under-development">工事中</strong>
        href: /404.html
        sameorigin: true
      - title: プレイリスト (Spotify)
        href: https://open.spotify.com/user/3228stza32jds4fsoacr1au2t
      - title: アバター (VRoid Hub)
        href: https://hub.vroid.com/users/1312960
      - title: キャラシ (いあきゃら)
        href: https://iachara.com/tag?tag=zk_phi
---

<h1 id="title">
  <span class="rot">🌏</span>リンク集<span class="rot">🌏</span>
</h1>

<p>
  管理人の公開物が見られるページをまとめました。
</p>

<hr class="hr" />

<div class="left">

  {% for category in links %}
  <div class="header"><span class="puni">🐬</span>{{ category.header }}</div>
  <ul class="list">
    {% for item in category.items %}
    <li class="item">
      <a class="link"
          {% if not item.sameorigin %}target="_blank" rel="noreferrer"{% endif %}
          href="{{ item.href }}">
        {{- item.title -}}
      </a>
      {{- item.icon | safe }}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

</div>

<hr class="hr" />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
