---
title: "zk-phi の部屋 :: おまけコーナー"
permalink: /meishi/index.html
noindex: true
layout: common.njk
inlineStyles:
  - css/meishi.css
lazyScripts:
  - js/meishi.js
---

<div class="meishi-wrapper" id="meishi-upside">
  <div class="meishi-spacer"></div>
  <button class="meishi-btn" onclick="flip()">
    {% image "img/meishi_f.png", "meishi-omote", { class: "meishi-img" } %}
  </button>
</div>

<div class="meishi-wrapper" id="meishi-downside">
  <div class="meishi-spacer"></div>
  <button class="meishi-btn" onclick="flip()">
    {% image "img/meishi_b.png", "meishi-ura", { class: "meishi-img" } %}
  </button>
</div>
