---
title: "zk-phi の部屋 :: おまけコーナー"
permalink: /meishi/index.html
noindex: true
layout: common.njk
inlineStyles:
  - css/meishi.css
  - css/centered-image.css
lazyScripts:
  - js/meishi.js
---

<div class="centered-wrapper" id="meishi-upside">
  <div class="centered-spacer"></div>
  <button class="meishi-btn" onclick="flip()">
    {% image "img/meishi_f.png", "meishi-omote", { class: "centered-image" } %}
  </button>
</div>

<div class="centered-wrapper" id="meishi-downside">
  <div class="centered-spacer"></div>
  <button class="meishi-btn" onclick="flip()">
    {% image "img/meishi_b.png", "meishi-ura", { class: "centered-image" } %}
  </button>
</div>
