---
title: "zk-phi の部屋 :: プロフィール"
permalink: /profile/index.html
layout: common.njk
inlineStyles:
  - css/profile.css
---

<h1 id="title">
  <span class="rot">🕺</span>プロフィール<span class="rot">🕺</span>
</h1>

<p>
  管理人のプロフィールです。
</p>

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>

<hr />

<div class="profile-card">
  {% image "img/icon.png", "icon", { class: "profile-icon" } %}
  <div class="profile-body left">
    <div class="profile-section">
      <div class="profile-name">@zk-phi<small>(ぜろけー)</small></div>
      ソフトウェアエンジニア
    </div>
    <div class="profile-section">
      <div class="profile-title">趣味</div>
      クラフトビール, 工作, ゲーム, 散歩/銭湯, アート/アングラ/サブカル全般
    </div>
    <div class="profile-section">
      <a class="link" href="/profile/media/">表彰・メディア掲載など</a>
    </div>
  </div>
</div>

<h2 class="header"><span class="puni">🍼</span>経歴</h2>

<div class="left">
  <div class="profile-section">
    <div class="profile-title">2016- 現職</div>
    新卒で入社、 toC 向けネイティブアプリの API サーバー (Perl/Mojolicious) を運用。並行して toB 向けプロダクト (クライアント React+Flux, サーバー Perl) も手伝うようになり、その後テコ入れのタイミングで正式にプロジェクトを任される。ペルソナやデザインシステムの再定義から関わり、最近はこちらがメイン。インフラを除く一通りの開発を担当、インフラは手伝い程度。他職種との協業などのやっていきに興味を持つ。<br />
    (Keywords: Typescript/React+Flux, Sass, Perl/Mojolicious, MySQL, Atomic Design, etc)
  </div>
  <div class="profile-section">
    <div class="profile-title">2010- 大学・院 (修士)</div>
    情報科で情報科学, プログラミングをちゃんと学ぶ。数学, 哲学, アート, 教育, etc. 他学部の講義に潜りまくり、サブカル<s>クソ</s>野郎として健やかに育つ。アルゴリズムに興味を持ち、競技プログラミングのアジア大会に進出。研究では新しいパターンマッチング機構を持ったプログラミング言語をデザイン・実装。趣味で OSS 活動を始める。<br />
    (Keywords: C, Assembly, Algorithms, Scheme, Prolog, Egison, Emacs Lisp, Math, Art, etc)
  </div>
  <div class="profile-section">
    <div class="profile-title">中〜高</div>
    次の言語になぜか日本語プログラミング言語を選ぶ。 Vector ソフトライブラリなどで Windows 向けの無料ソフトを数本公開。当時流行り始めていた YouTube の関連ツールを作り、いくつかの雑誌に載る。
  </div>
  <div class="profile-section">
    <div class="profile-title">小〜中</div>
    図書室で BASIC に出会い、 N88 BASIC で初めてのプログラムを書く。今さら変えられないハンドルネーム「ぜろけー」が爆誕する。インターネットを使い始め、ジオシティーズで黒歴史を垂れ流すなどの活動をする。
  </div>
</div>

<hr />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
