---
title: "zk-phi の部屋 :: プロフィール"
permalink: /profile/index.html
layout: common.njk
inlineStyles:
  - css/profile.css
---

<h1 id="title">
  <span class="rot">🕺</span>プロフィール<span class="rot">🕺</span>
</h1>

<p>
  管理人のプロフィールです。
</p>

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>

<hr />

<div class="profile-card">
  {% image "img/icon.png", "icon", { class: "profile-icon" } %}
  <div class="profile-body left">
    <div class="profile-section">
      <div class="profile-name">@zk-phi<small>(ぜろけー)</small></div>
      ソフトウェアエンジニア
    </div>
    <div class="profile-section">
      <div class="profile-title">趣味</div>
      クラフトビール, OSS/OSHW, ゲーム, 散歩/銭湯, アート/アングラ/サブカル全般
    </div>
    <div class="profile-section">
      <a class="link" href="/profile/media/">表彰・メディア掲載など</a>
    </div>
  </div>
</div>

<h2><span class="puni">🎮</span>よく遊ぶゲーム</h2>

<div class="left">
  <p>
    <a class="link" href="https://zk-phi.github.io/ddrfc/">DDR 十段(DDRA)</a>, beatmaniaIIDX 皆伝(RA), スーパードンキーコング２ 1:04 (IGT, Any%), カードゲーム・ネタ系ボドゲ全般, etc
  </p>
</div>

<h2><span class="puni">🍼</span>エンジニア経歴</h2>

<div class="left">
  <div class="profile-section">
    <div class="profile-title">2016- 現職</div>
    <p>toC アプリの API (Perl)、 toB アプリ (React+Perl) を担当。後者はコンセプト・デザインシステムの再定義などテコ入れから関わり、最近はこちらがメイン。みんなで一つのものを作ることに興味。</p>
  </div>
  <div class="profile-section">
    <div class="profile-title">大学・院 (情報科)</div>
    <p>チームで競プロのアジア大会に進出。研究で新しいパターンマッチング機構を持った GC レス言語を設計。OSS 活動を始める。</p>
  </div>
  <div class="profile-section">
    <div class="profile-title">中〜高</div>
    <p>Windows 向けの無料ソフトを複数公開、いくつかの雑誌に載る。</p>
  </div>
  <div class="profile-section">
    <div class="profile-title">小〜中</div>
    <p>小学校の図書室で BASIC に出会う。</p>
  </div>
</div>

<hr />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
