---
title: "zk-phi の部屋 :: プロフィール"
permalink: /profile/index.html
layout: common.njk
inlineStyles:
  - css/profile.css
---

<h1 id="title">
  <span class="rot">🕺</span>プロフィール<span class="rot">🕺</span>
</h1>

<p>
  管理人のプロフィールです。
</p>

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>

<hr class="hr" />

<div class="profile-card">
  {% image "img/icon.png", "icon", { class: "profile-icon" } %}
  <div class="profile-body left">
    <div class="profile-section">
      <div class="profile-name">@zk-phi<small>(ぜろけー)</small></div>
      ソフトウェアエンジニア
    </div>
    <div class="profile-section">
      <div class="profile-title">趣味</div>
      <a class="link" href="https://untappd.com/user/zk_phi" target="_blank">クラフトビール</a>,
      <a class="link" href="/profile/oss/">OSS/OSHW</a>,
      <a class="link" href="https://scrapbox.io/zkphi/%E3%82%B2%E3%83%BC%E3%83%A0%E3%83%97%E3%83%AD%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB" target="_blank">ゲーム</a>,
      散歩/銭湯,
      アート/アングラ/サブカル全般
    </div>
    <div class="profile-section">
      <a class="link" href="/profile/media/">表彰・メディア掲載など</a>
    </div>
  </div>
</div>

<h2><span class="puni">🍼</span>エンジニア経歴</h2>

<div class="left">
  <div class="profile-section">
    <div class="profile-title">2016- 現職</div>
    <p>toC ネイティブアプリの API (Perl)、のち toB Web アプリ (Perl + TypeScript)。後者はコンセプト・デザインシステムの再定義などテコ入れから関わり、最近はフロントがメイン。趣味開発もやや Web 寄りに。同人ハードにも手を出し始める。
  </div>
  <div class="profile-section">
    <div class="profile-title">大学・院 (情報科)</div>
    <p>チームで競プロのアジア大会に進出。研究で新しいパターンマッチング機構を持った GC レス言語を設計。OSS 活動を始める (主に GNU Emacs 界隈)。</p>
  </div>
  <div class="profile-section">
    <div class="profile-title">中〜高</div>
    <p>Windows 向けの無料ソフトをいくつか公開、複数の雑誌に載る。</p>
  </div>
  <div class="profile-section">
    <div class="profile-title">小〜中</div>
    <p>小学校の図書室で BASIC に出会う。初めてのホームページを公開。</p>
  </div>
</div>

<hr class="hr" />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
