---
title: "zk-phi の部屋 :: おまけコーナー"
permalink: /quiz2/index.html
noindex: true
layout: common.njk
inlineStyles:
  - css/centered-image.css
---

<div class="centered-wrapper">
  <div class="centered-spacer"></div>
  <img class="centered-image" src="/img/quiz2.png" alt="HINT: /quiz/">
</div>
