---
title: "zk-phi の部屋 :: おまけコーナー"
permalink: /quiz/index.html
noindex: true
layout: common.njk
inlineStyles:
  - css/centered-image.css
---

<div class="centered-wrapper">
  <div class="centered-spacer"></div>
  <img class="centered-img" src="/img/quiz.png" alt="HINT: swap BG and FG">
</div>
