---
title: "zk-phi の部屋 :: 主な公開物"
permalink: /works/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🏛️</span>主な公開物<span class="rot">🏛️</span>
</h1>

<p>
  過去の公開物から、いくらかピックアップして紹介します。
</p>

<hr class="hr" />

<div class="left">

  <ul class="list">
    <li class="item"><a class="link" href="/works/services">ツール・サービス</a></li>
    <li class="item"><a class="link" href="/works/tools">商売道具</a></li>
    <li class="item"><a class="link" href="/works/tech">技術記事・技術書</a></li>
    <li class="item"><a class="link" href="/works/others">その他、遊び系</a></li>
  </ul>

</div>

<hr class="hr" />

<p>
  <a class="link" href="/">&lt; 戻る</a>
</p>
