---
layout: minimal.njk
styles:
  - css/font.css
  - css/common_critical.css
scripts:
  - js/bg.js
preloads:
  - { href: "fonts/DotGothic16-Regular.woff", type: "font", cors: true }
lazyScripts:
  - js/stalker.js
lazyStyles:
  - css/common.css
  - css/stalker.css
---

<canvas id="bg"></canvas>

<div id="content">
  {{ content | safe }}
</div>
