---
layout: minimal.njk
bodyId: body
styles:
  - css/common_critical.css
lazyScripts:
  - js/stalker.js
lazyStyles:
  - css/common.css
  - css/stalker.css
---

<div id="content">
  {{ content | safe }}
</div>
