---
layout: minimal.njk
styles:
  - css/font.css
  - css/common_critical.css
preloads:
  - { href: "fonts/DotGothic16-Regular.woff2", type: "font", cors: true }
lazyScripts:
  - js/stalker.js
lazyStyles:
  - css/common.css
  - css/stalker.css
---

<div id="content">
  {{ content | safe }}
</div>
