<!doctype html>
<html lang="ja">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="zk-phi のホームページです" />
    {% if noindex %}
    <meta name="robots" content="noindex" />
    {% endif %}
    {% for s in preloads %}
    <link rel="preload" href="/{{ s.href }}" as="{{ s.type }}"{{ " crossorigin" if s.cors }}>
    {% endfor %}
    {% for s in styles %}<link rel="stylesheet" href="/{{ s }}">{% endfor %}
    <script defer src="/js/loader.js"></script>
    {% for s in scripts %}<script defer src="/{{ s }}"></script>{% endfor %}
    <style>
{% for s in inlineStyles %}{% include s %}{% endfor %}
    </style>
  </head>
  <body id="body">
    {{ content | safe }}
    <script>
{% for s in inlineScripts %}{% include s %}{% endfor %}
const lazyScripts = ["/js/prefetch.js", {% for s in lazyScripts %}"/{{ s }}",{% endfor %}];
const lazyStyles = [{% for s in lazyStyles %}"/{{ s }}",{% endfor %}];
    </script>
  </body>
</html>
