---
title: "zk-phi の部屋 :: その他の活動"
permalink: /links/etc/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">🌏</span>リンク集<span class="rot">🌏</span>
</h1>

<p>
  その他の活動です。
</p>

<p>
  <a class="link" href="/links/">&lt; 戻る</a>
</p>

<hr />

<h2 class="header">
  イベント出展 <small>(頒布物があったもの)</small>
</h2>

<ul class="list">
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://github.com/zk-phi/switch42-keyboard">
      【技術書典６】Switch42 キーボードキット
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://github.com/zk-phi/pollux-keyboard">
      【技術書典６】Pollux キーボードキット
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://riconken.bitbucket.io/hifumi/">
      【技術書典６, Ｃ９６】ここから始める自作キーボード (寄稿, ハード設計)
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://sites.google.com/view/riconken/%E3%83%9B%E3%83%BC%E3%83%A0">
      【技術書典５】四人の知らなかった自作キーボードの世界 (寄稿)
    </a>
  </li>
</ul>

<h2 class="header">競プロ</h2>

リハビリ中

<ul class="list">
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://atcoder.jp/users/zk_phi">
      AtCoder
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="http://judge.u-aizu.ac.jp/onlinejudge/user.jsp?id=zk_phi">
      Aizu Online Judge
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://projecteuler.net/progress=zk_phi">
      Project Euler
    </a>
  </li>
</ul>

<h2 class="header">CTF</h2>

<ul class="list">
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://ksnctf.sweetduet.info/">ksnctf</a> (@zk_phi)
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer" href="https://picoctf.org/">picoCTF</a> (@zk_phi)
  </li>
</ul>

<hr />

<p>
  <a class="link" href="/links/">&lt; 戻る</a>
</p>
