---
title: "zk-phi の部屋 :: その他"
permalink: /etc/quiz/index.html
layout: common.njk
---

<h1 id="title">
  <span class="rot">❓</span>早押し検定クイズ<span class="rot">❓</span>
</h1>

<p>
  作問した早押しクイズです。
</p>

<p>
  <a class="link" href="/etc/">&lt; 戻る</a>
</p>

<hr />

<ul class="list">
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer"
       href="https://zk-phi.github.io/simple-buzzer-quiz/?gist.githubusercontent.com/zk-phi/ff622f6b356f3196789666e42dfe223c/raw/3ebfbdcbc4863d07d6c122ff0211d4ec3389e0db/beerquiz.json">
      ビール雑学
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" rel="noreferrer"
       href="https://zk-phi.github.io/simple-buzzer-quiz/?gist.githubusercontent.com/zk-phi/aa493d1a53b553906a0cace24b56797d/raw/7aa45e20b0348b206ef27b65c2bc5bff1ede805d/iidxquiz.json">
      IIDX カルトクイズ
    </a>
  </li>
</ul>

<hr />

<p>
  <a class="link" href="/etc/">&lt; 戻る</a>
</p>
