<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
{% include "css/common.css" %}
{% include "css/font.css" %}
{%- for s in styles -%}{% include s %}{%- endfor -%}
    </style>
    <title>{{ title }}</title>
  </head>
  <body class="body">
    <div id="content">
      {{ content | safe }}
    </div>
  </body>
</html>
