---
layout: layouts/minimal.njk
bodyId: body
styles:
  - css/common.css
lazyScripts:
  - /js/app.js
lazyStyles:
  - /css/common.css
  - /css/stalker.css
---

<div id="content">
  {{ content | safe }}
</div>
